[2015-08-15 02:17] mvdan opened #7 "Inconsistencies in naming"
e.g. `ListMergeRequests` and `ListProjectIssues`, when they both work with projects. Either make both have `Project`, or neither.

[2015-08-15 02:20] mvdan opened #8 "Cannot get issue/MR by internal ID"
I just tried to use `GetIssue` to fetch information on an issue on a project of mine. To my surprise, it gave a 404.

Digging through the gitlab api docs, I found out that in `/projects/:id/issues/:issue_id`, `:issue_id` is global, and not local.

Hence, `GetIssue` is of very little use. I had to use `ListProjectIssues` with `&client.ListProjectIssuesOptions{IID: n}` for it to work.

I'm not sayin

[2015-08-15 14:01] svanharmelen commented on #7
I (tried) to just used the names that are used in the docs, so people reading/knowing the docs should be able to find the matching methods easily.

So looking at your examples, have a look at [ListMergeRequests](http://doc.gitlab.com/ce/api/merge_requests.html#list-merge-requests) and [ListProjectIssues](http://doc.gitlab.com/ce/api/issues.html#list-project-issues) to see these names are also used

[2015-08-15 21:02] mvdan commented on #7
I see, fair enough then.

[2015-08-15 21:02] #7 closed

[2015-08-21 08:51] svanharmelen commented on #8
@mvdan I hear you, but indeed don't think I can do much about it in here... There is already a comment linking to the GitLab docs on to of every function, so I think that should be enough for people to get more info about a specific API call:

[code]

And of course if you are coding against the GitLab API, you will need to get familiar with it anyway right?

So I'll close this one and leave it up

[2015-08-21 08:51] #8 closed

[2015-09-09 00:19] mvdan commented on #8
I'm bothered by such a simple yet annoying issue, so I opened [#2465](https://gitlab.com/gitlab-org/gitlab-ce/issues/2465).

[2015-09-09 07:48] svanharmelen commented on #8
:+1: would be nice if they agree on updating/changing this...

[2015-09-15 11:12] clns opened #12 "How to handle pagination?"
I'm sorry but I can't seem to find how to handle pagination. I see the `ListOptions` type but for example I can't use it for `ListAllProjects()`. Maybe I'm missing something.

[2015-09-16 10:29] svanharmelen commented on #12
@clns I must admit I didn't test to much with that part, so it can very well not work as expected. I will try to free up some time to look into this one, but in the mean time I would happily review any PR's :wink:

[2015-09-16 10:38] clns commented on #12
Actually I don't think pagination is implemented at all, apart from the [`Response`](https://godoc.org/github.com/xanzy/go-gitlab#Response) type which indeed parses `PrevPage`, `NextPage`, `FirstPage` and `LastPage`.

The [`ListOptions`](https://godoc.org/github.com/xanzy/go-gitlab#ListOptions) type is not used anywhere. I think it was meant to be an anonymous field on the other List methods, but

[2015-09-16 10:59] svanharmelen commented on #12
Thanks for the feedback! When time permits I'll also try to have a look...

[2015-09-22 10:35] svanharmelen commented on #12
It seems @difro already fixed this for a couple of API calls in PR #14, so it should be trivial to fix other API call using the same logic...

Still no time on my hands, but it seems the solution is pretty straight forward and simple now.

[2015-09-29 15:57] NuVivo314 opened #15 "[/users] current_sign_in_at is null..."
If the user never connected, the field "current_sign_in_at" is null and break json decoding.

[code]

[2015-09-30 02:03] svanharmelen commented on #15
Thanks for the report! Should be fixed by PR #16

[2015-09-30 02:04] #15 closed

[2015-11-02 21:22] martinsefcik opened #17 "Add support for Permissions attribute for get single project endpoint"
**Permissions** attribute is not supported
http://doc.gitlab.com/ce/api/projects.html#get-single-project

[2015-11-03 22:01] #12 closed

[2015-11-06 09:17] #17 closed

[2015-11-24 05:35] martinsefcik opened #21 "Setup code coverage tool (e.g. coveralls.io)"
Could you please setup some code coverage tool e.g. https://coveralls.io to see code coverage status?
Coveralls.io is free for open source projects.

[2015-11-27 15:22] mvdan opened #23 "Rename repo to xanzy/gitlab"
The package name is `gitlab` while the repo name is `go-gitlab`. This works, but results in confusing usage:

[code]

Where is `gitlab` being declared or imported? This is an extreme case, but if all packages did this, complex programs would be a mess. You could go around this as a user by explicitly importing `gitlab "github.com/xanzy/go-gitlab"`, but that's really unnecessary.

Moreover, the Go

[2015-12-01 15:39] ThomasBS opened #25 "Merge request work_in_progress"
Hi .. This is more a question than an issue.

When we interact with our gitlab api, the api returns the `work_in_progress` [attribute](https://github.com/xanzy/go-gitlab/blob/master/merge_requests.go#L42) as `0` (if true) or `null` (if false). This means the unmarshal'ing returns an error. We've fixed the issue on our forked repo by just adding the type `int` instead of `bool`. (Although [it clear

[2015-12-01 16:14] svanharmelen commented on #25
@ThomasBS I think there are two ways to solve this. The first is changing the `bool` to an `int` like you suggested, but with that you change the semantics a little I suppose... Where receiving a `null` shouldn't be the same a a `0`. The other option would be to turn the `bool` into `*bool`. That would marshal to `nil` if it received a `null`, which seems to match what is send by the API.

Additio

[2015-12-03 18:40] ThomasBS commented on #25
Alright, I will look into creating an issue to GitLab instead. That makes sense.

Thanks for the quick response!

[2015-12-03 18:40] #25 closed

[2015-12-05 15:58] ThomasBS commented on #25
Just to clarify if anyone else would experience this. It was a problem of versioning, so it had nothing to do with this awesome repo. Gitlab had a "bug" where it didnt return a boolean for the `work_in_progress` attr for the merge request api. This has been fixed in [8.2.2](https://github.com/gitlabhq/gitlabhq/commit/380392212f87fc80bd45c322eda54461d47745b0).

So the lesson to be learning is to do

[2015-12-05 19:20] svanharmelen commented on #25
Thanks for the feedback and clarification @ThomasBS! :+1:

[2015-12-09 11:20] svanharmelen commented on #23
@mvdan I see your point, yet I think this is pretty common. That doesn't make it the right pattern of course, but it's also not something a Go developer should be puzzled about.

Also I know about the calling packages or programs `go-*` simply because they are written in Go is discouraged. But in this case I believe the current name makes a lot of sense as it tells you all you need to know... It i

[2015-12-09 11:20] #23 closed

[2015-12-13 15:26] mvdan commented on #23
Fair enough. I don't see why you think it wouldn't be user friendly, though - github would redirect the old path to the new one. So all current imports, clones and links would continue to work.

[2015-12-15 07:44] AKoetsier opened #27 "Missing integrated CI calls"
The readme explains it covers 100% of the gitlab v3 api. However I cannot find some of the integrated CI-calls. For example [get the status of a commit](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/commits.md#get-the-status-of-a-commit) or [posting the status of a commit](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/commits.md#post-the-status-to-commit). Is this by design o

[2015-12-15 08:04] martinsefcik commented on #27
It's not yet implemented as it is relativelly new feature in Gitlab.
I will submit PR if I have some free time. I already started working a bit on it.

[2015-12-19 14:31] martinsefcik opened #29 "Structs should use pointers for fields"
I think we should change fields in structs to use pointers and so distinguish between nil and empty values.

The same approach is used in go-github repository.
Here you can find detailed blog why it is good to use pointers:
https://willnorris.com/2014/05/go-rest-apis-and-pointers

It's also problem in go-gitlab.
For example you cannot edit existing project's description and change it to empty stri

[2015-12-28 11:29] svanharmelen commented on #29
I think I agree, but want to think about it for another couple of days before we start changing stuff.

And when we do start changing this, I prefer to change it with one PR for the whole package. This way everything stays consistent and we don't have two different patterns at the same time.

So I'll come back on this one, but like I said I think I agree :grinning:

[2016-01-02 10:44] henjue opened #30 "I don't think we should use omitempty"
If I need to set up a project for the private, because used omitempty VisibilityLevel EditProjectOptions tag, so ignore 0. So can not set the project for the private

Ps:EditProjectOptions in the Public is the time is false

[2016-01-03 10:35] svanharmelen commented on #30
I guess this is a good example of why we should implement the change (using pointers in structs) suggested/discussed in issue #29. So please follow that issue as it will fix your problem as well.

I'll close this one as a duplicate of #29 as they both address the same problem.

[2016-01-03 10:35] #30 closed

[2016-01-05 07:59] #27 closed

[2016-01-21 08:10] svanharmelen commented on #29
@martinsefcik after thinking about this for a little while I agree that we would need to change this. The problem is of course that a change like this would be a breaking change, but I think there is no way to get around that...

So let's go ahead and (when time permits) start the work on this one :grinning:

Since it's a breaking change I do prefer one big PR for the whole change and some minimal

[2016-01-24 16:18] martinsefcik commented on #29
If I will have some free time I can start working on it.

[2016-02-10 09:30] brasilikum opened #33 "How to create an issue?"
[code]
Why does this result in an error 500? How do I create a new Issue then?

[2016-02-10 10:04] svanharmelen commented on #33
Not sure, I use this is my functional tests which work as expected and looks just about the same as your example:

[code]

Maybe you should first check with `curl` if you are able to make this call directly. As maybe it's not related to this package, but to the values you supply or your Gitlab server? For some details/pointers on how to use `curl` for this, see the docs: http://doc.gitlab.com/ce/a

[2016-02-17 15:15] brasilikum commented on #33
May be related to this issue, where users are not able to get the project by namespace/projectname https://github.com/gitlabhq/gitlabhq/issues/4921

[2016-02-17 20:40] brasilikum opened #35 "Test against gitlab.com"
I think the package would profit from tests against a real API. It could be organized as follows:
- create an account just for testing
- setup tests
- insert the secret key of the testing account into the tests via ENV from eg coveralls #21
- insert the coverage badge into the README

[2016-03-01 20:11] woopla opened #36 "The GroupMember.AccessLevel field should be of AccessLevel type"
Hello,

Just to make things cleaner :) Otherwise, using the AccessLevel type in comparisons requires extra casting. Unless I'm doing things wrong, that is :) Here's a bit of code:
[code]

Would be easier to read as:
[code]

Thanks,

Clément

[2016-03-18 15:28] mishak87 opened #42 "API /project/*/builds/*"
Do you plan on adding `projects/<id>/{builds,repository}` API?
http://doc.gitlab.com/ce/api/builds.html

[2016-03-18 16:28] #36 closed

[2016-03-18 16:32] svanharmelen commented on #42
No immediate plans and personally quite busy at the moment... But of course a PR would be most welcome! :wink:

[2016-03-21 10:29] mishak87 commented on #42
@svanharmelen PR it is then :-)

[2016-04-13 14:42] mvdan commented on #35
It would be a lot more reliable to test against a mock local API server, e.g. using httptest.

[2016-04-13 14:42] mvdan commented on #8
In case anyone stumbles upon this, this issue hasn't been fixed yet on their end.

[2016-04-19 20:23] woopla commented on #36
I was finally able to check the fix, everything's fine now thanks!

[2016-05-13 07:38] svanharmelen commented on #21
For the time being I'm not going to add this... Maybe at a later point in time we'll have another look at this.

[2016-05-13 07:38] #21 closed

[2016-05-13 07:39] svanharmelen commented on #33
This should be fixed by PR #48

[2016-05-13 07:39] #33 closed

[2016-05-13 07:40] svanharmelen commented on #35
Yes, I agree with @mvdan and will (at this time) setup testing against gitlab.com.

[2016-05-13 07:40] #35 closed

[2016-06-21 02:01] simpleelegant opened #52 "Why no support for oauth token?"
Hi, it seem that go-gitlab only support for `private_token`, no support for OAuth2 token. Has any plan to change it?

[2016-06-21 06:52] svanharmelen commented on #52
@simpleelegant not directly, but of course pull requests for this are more than welcome :wink:

[2016-06-21 06:52] #52 closed

[2016-06-21 19:25] clofresh opened #53 "false values for EditProject don't get submitted"
Looks like when submitting boolean parameters, only the true parameters get sent, and the false ones get skipped.

[code]

I added some logging to the marshalling step:

[code]

I think it's hitting this issue: https://github.com/golang/go/issues/13284

[2016-07-03 15:38] matm opened #57 "Uploading a file"
Is there a way to upload an attachment? I can see `Note.Attachment` in the library doc, but no related method to upload a file and reference it in a note for example.

GitLab has an API endpoint for that:  http://doc.gitlab.com/ce/api/projects.html#uploads

If not, I can add support for it as a method of `ProjectsService`.

[2016-07-03 18:58] svanharmelen commented on #57
Hmm... No I don't think it exists already, so by all means add it to the `ProjectsService` 👍

[2016-07-06 07:34] svanharmelen commented on #53
Thanks for the report @clofresh! My time to work on this package is limited at this moment, but I'll make sure I'll have a look at it...

As always a PR with a possible fix would be more then welcome :wink:

[2016-07-19 10:19] dobegor opened #59 "Visibility parameter for CreateGroup is missing"
Check out [this](http://docs.gitlab.com/ce/api/groups.html#new-group).

[2016-07-19 12:00] #59 closed

[2016-07-26 16:44] svanharmelen commented on #29
Fixed by PR #66

[2016-07-26 16:44] #29 closed

[2016-07-26 16:45] svanharmelen commented on #53
Fixed by PR #66

[2016-07-26 16:45] #53 closed

[2016-07-26 18:29] martinsefcik commented on #29
👍

[2016-07-27 08:56] mvdan commented on #29
This is a rather surprising change, mostly because the API now seems very verbose and repetitive for no reason. Then again, I can't think of a better solution and it seems like `go-github` does the same.

[2016-07-27 09:02] svanharmelen commented on #29
@mvdan I understand your point and I partly agree... Yet I don't agree it is "for no reason" as certain use cases do not work without this change...

And yes, I too cannot think of a better/other way so following the `go-github` approach feels like the best way forward.

[2016-07-27 09:04] mvdan commented on #29
I meant to say "at first glance" :) It seems like a non-idiomatic way to do things, but as said it seems like the only way.

[2016-07-27 09:09] svanharmelen commented on #29
Agree... Not the most idiomatic, yet there are quite a couple of packages using such an approach (mostly API client packages of course). See for example this blog from 2 years ago already: https://willnorris.com/2014/05/go-rest-apis-and-pointers

[2016-08-02 12:23] dobegor opened #67 "Semver scheme"
I would really reconsider the decision about converting options to pointers. It's not a common way.
But please, follow the Semver [scheme](http://semver.org/). This was backward-incompatible change, but only minor part of the version number changed. My `glide update` just broke the CI pipeline :D

I meant this commit: 4f1f8d2b5b095a5e718e3658602598890f4ec746.

[2016-08-02 12:37] dobegor commented on #67
As to #29: we can still use non-pointer types for options, but provide pre-filled structs to `json.Marshal` to fill default values. That's a _much_ better option than converting all the options to pointers.

See this [example](http://stackoverflow.com/a/30445480).

[2016-08-03 08:30] svanharmelen commented on #67
@dobegor I'm very sorry this update broke your CI pipeline! I know SemVer and we are actually using it as advertised. Please consider the following: http://semver.org/#spec-item-4

So until we release version 1.0.0, any minor update can represent potentially breaking changes or otherwise big improvements/additions. While any patch updates represent either bug fixes or small new features. Both of w

[2016-08-03 09:17] dobegor commented on #67
Yeah, sorry, I was too quick to file the issue about constants - I've found a correct way using the `gitlab.VisibilityLevel` helper function.

Sorry, I didn't notice the major zero... more coffee needed indeed.
And yeah, filling the defaults of update calls may cause pain. Perhaps getting previous values first and filling the default struct with them would solve the problem, but that will do 2 API

[2016-08-03 09:17] #67 closed

[2016-08-03 15:32] svanharmelen commented on #67
@dobegor no worries :wink:

[2016-09-11 13:12] svanharmelen commented on #42
Fixed by PR #71

[2016-09-11 13:12] #42 closed

[2016-10-06 20:43] the-shank opened #76 "Unable to delete issue using `&gitlab.Issues.DeleteIssue(pid, issue_id)`. Getting 403 forbidden"
I am trying to delete an issue for a project for which I am the owner. I am using my private token in the client.
However I am getting the following output
`DELETE https://gitlab.com/api/v3/projects/shank/gitlab/issues/8: 403 403 Forbidden []`

All other commands (like getting list of issues for a project, creating an issue etc.) are working.

Since this is a private project, I am sharing the scre

[2016-10-06 21:04] the-shank commented on #76
Nevermind, I needed to use the ID and I was using the IID instead. Closing this issue as it is not valid.

[2016-10-06 21:04] #76 closed

[2016-10-07 03:41] the-shank opened #77 "Add `web_url` field to `Issue`"
The [`Issue`](https://godoc.org/github.com/xanzy/go-gitlab#Issue) struct (and the parsing stuff etc.) does not have the `web_url` field.

Would you be willing to accept a PR in case, I make the necessary changes to add the same?

[2016-10-07 05:04] svanharmelen commented on #77
@the-shank, yes PR's are very much welcome :wink: Thx!

[2016-10-07 18:22] fuxuelei opened #78 "NamespaceID under CreateProjectOptions should be int"
Cannot post project to specified namespace b/c NamespaceID is typed as *string, but it works if changed to *int in CreateProjectOptions struct

[2016-10-10 11:26] the-shank commented on #77
@svanharmelen Please check the latest commit in the PR.

[2016-10-10 12:49] #77 closed

[2016-10-11 19:51] wahmedswl opened #80 "Pipelines API"
Hi, is there support for pipelines api

[code]

Thanks

[2016-10-12 05:49] svanharmelen commented on #80
@wahmedswl no currently this is not supported... Of course PR's are always welcome 👍

[2016-10-13 10:54] jereksel opened #81 "Support for Accept Merge Request parameters"
https://docs.gitlab.com/ce/api/merge_requests.html#accept-mr

[2016-10-18 03:55] JonathonReinhart opened #83 "Support pagination in BuildsService.ListProjectBuilds"
Currently, [`BuildsService.ListProjectBuilds()`](https://godoc.org/github.com/xanzy/go-gitlab#BuildsService.ListProjectBuilds) will only return the 20 most recent builds.

The [GitLab API documentation](http://docs.gitlab.com/ce/api/builds.html#list-project-builds) doesn't indicate which endpoints use pagination and which ones do not, but I've experimentally determined that `GET /projects/:id/buil

[2016-10-18 03:58] JonathonReinhart commented on #83
I see that this was recently added in #71 by @arkbriar. Was there any reason this was left out, or just overlooked?

[2016-10-18 19:50] sindrepm opened #84 "Incorrect handling of API errors"
I discovered a possible bug today related to how the client handles validation errors returned from the API. According to the [docs](https://docs.gitlab.com/ce/api/README.html#data-validation-and-error-reporting), validation errors will be formatted as following in the response:

[code]

In the code, an error response body is always unmarshalled into a `ErrorResponse` struct:

[code]

This fails b

[2016-10-18 22:07] #78 closed

[2016-10-18 22:15] svanharmelen commented on #83
@JonathonReinhart I guess it was overlooked... Will add it in a few, thx!

[2016-10-18 22:25] #83 closed

[2016-10-19 01:29] JonathonReinhart commented on #83
Works great, thanks for taking care of this so quickly!

[2016-10-23 15:37] svanharmelen commented on #84
@sindrepm thanks for the report! I'll have a closer look at this coming week (if time permits)...

[2016-10-25 07:18] seelensonne opened #88 "Typo in JSON hint for CreateProjectOptions.BuildsEnabled"
There's a typo in the JSON hint for `CreateProjectOptions.BuildsEnabled`:

- Current: `json:"build_events,omitempty"`
- Correct: `json:"builds_enabled,omitempty"`

See https://github.com/xanzy/go-gitlab/blob/master/projects.go#L346

[2016-10-25 07:53] #88 closed

[2016-10-25 07:53] svanharmelen commented on #88
Thanks for the report @seelensonne! Fixed in PR #89.

[2016-10-25 14:38] seelensonne opened #90 "GitLab ignores boolean options in gitlab.CreateProjectOptions"
I'm having trouble with the boolean options in `gitlab.CreateProjectOptions`, GitLab seems to ignore them:

- Call to `gitlab.CreateProjectOptions` looks ok.
- Generated JSON request looks ok.
- GitLab creates the project, yet ignores the boolean options and applies what seem to be defaults.

Maybe I'm doing something wrong, hence my hope that someone more knowledgeable can provide insight. Any hi

[2016-10-25 16:19] svanharmelen commented on #90
Thanks for the very clear report! This doesn't look OK, so I'll try to have a look at this one shortly...

[2016-10-25 18:40] svanharmelen commented on #90
@seelensonne looking at this again, I wonder if this is something related to the `go-gitlab` package. I see that the request is correctly formatted and the values you set are correctly send to the Gitlab API...

So I tried this myself using your code snippet against our v8.11.7 (CE) install, and this gave the expected results:

[code]

So I'm wondering if this has anything to do with rights or glo

[2016-10-26 04:42] seelensonne commented on #90
@svanharmelen: Thanks a lot for the quick reply!

I've tested again with:

- A fresh VM (CentOS 7).
- A [clean-install](https://about.gitlab.com/downloads/#centos7) of GitLab 8.13.1 CE (Omnibus).
- No config changes.
- Access token for the GitLab Administrator user.

The result is the same:

[code]

So it looks like the problem is indeed with GitLab itself (8.12.x and 8.13.x), and I've therefore c

[2016-10-26 04:42] #90 closed

[2016-10-26 07:00] svanharmelen commented on #90
@seelensonne we installed Gitlab using the omnibus installer.

As for troubleshooting, I would recommend starting with just using `curl` to see if you can get things to work as expected. Once that works you could start repeating the tests with a sample program like you pasted above.

Cheers!

[2016-10-28 06:49] seelensonne commented on #90
See [GitLab Issue #23890](https://gitlab.com/gitlab-org/gitlab-ce/issues/23890).

[2016-10-28 07:17] svanharmelen commented on #90
Good to know, thanks for the update @seelensonne!

[2016-11-06 11:27] sindrepm commented on #84
@svanharmelen had a chance to look into this yet?

[2016-11-08 15:15] svanharmelen commented on #84
@sindrepm thanks for reminding me of this one and sorry for the delay... Will make sure to review and/or fix this this week.

[2016-11-29 15:04] mustafayildirim opened #96 "json: cannot unmarshal"
Hi, I am writing code for gitlab Push Hook event.
When I am Unmarshal the gitlab's example [https://docs.gitlab.com/ce/web_hooks/web_hooks.html#push-events](url)

But I have a problem with json unmarshal.
The output
**json: cannot unmarshal string into Go value of type gitlab.ProjectNamespace**
jsonBlob is gitlab's example json.

`var e gitlab.PushEvent`
`unmarshalErr := json.Unmarshal(jsonBlob, &

[2016-11-29 15:40] #96 closed

[2016-11-29 15:40] svanharmelen commented on #96
@mustafayildirim should be fixed by PR #97

[2016-11-30 07:48] mustafayildirim commented on #96
Thanks @svanharmelen It's working now.

[2016-11-30 09:09] mustafayildirim opened #98 "PipelineEvent json unmarshal error"
When parsing gitlab pipeline event hook giving pipeline json unmarshal error. [https://docs.gitlab.com/ce/web_hooks/web_hooks.html#pipeline-events](url)

[2016-11-30 09:26] mustafayildirim opened #100 "Add Build Event Type"
https://docs.gitlab.com/ce/web_hooks/web_hooks.html#build-events

[2016-11-30 18:15] the-shank opened #101 "Add "shared_with_groups" field in Project struct"
In the api docs for [getting a single project](https://docs.gitlab.com/ce/api/projects.html#get-single-project), under the JSON returned for the project, there is a field `shared_with_groups`. I wish to add support for this to the library.
Is it ok if I send a pull request with the required changes?

[2016-11-30 18:33] svanharmelen commented on #101
Sure thing... Would be greatly appreciated!

[2016-11-30 19:03] the-shank commented on #101
this is strange... I added the following to the `Project` struct in `projects.go`
[code]
But in the decoded `Project` object, I am getting and empty []
I will dig in further...

[2016-11-30 19:23] the-shank commented on #101
Ah, nevermind, the JSON being returned from the API did not have the `shared_with_groups` field.
I will test for and example in which it does and then update here and send the pull request after testing it

[2016-12-02 08:30] mustafayildirim opened #102 "Group Merge Request WebHook"
Hi,
When I added a webhook to the group (not a project) Gitlab give me different type of json.
Here is example.
`{
	"object_kind": "merge_request",
	"user": {
		"name": "Administrator",
		"username": "root",
		"avatar_url": "http://www.gravatar.com/avatar/d22738dc40839e3d95fca77ca3eac067?s=80\u0026d=identicon"
	},
	"project": {
		"name": "example-project",
		"description": "",
		"web_url": "http:/

[2016-12-02 15:24] svanharmelen commented on #98
Fixed by PR #99

[2016-12-02 15:24] #98 closed

[2016-12-02 15:24] svanharmelen commented on #100
Fixed by PR #99

[2016-12-02 15:24] svanharmelen commented on #102
Fixed by PR #99

[2016-12-02 15:24] #102 closed

[2016-12-02 15:24] svanharmelen commented on #100
Fixed by PR #99

[2016-12-02 15:24] #100 closed

[2016-12-04 10:11] #101 closed

[2016-12-04 10:55] svanharmelen commented on #81
Fixed by both PR #82 and PR #104

[2016-12-04 10:55] #81 closed

[2016-12-12 00:12] biancalana opened #107 "List a group's projects"
I can' find method to list group' projects (https://docs.gitlab.com/ce/api/groups.html#list-a-group-s-projects) is this implemented ?

[2016-12-12 08:31] mustafayildirim commented on #107
@svanharmelen
I can implement. Do you want?

[2016-12-12 09:06] svanharmelen commented on #107
@biancalana it seems that one is not implemented yet, but it should be pretty straight forward to add it though...

@mustafayildirim that would be much appreciated of course 👍

[2016-12-12 15:24] mvdan opened #108 "Issue event struct out of date?"
Seeing this when unmarhsaling a webhook into `IssueEvent`:

[code]

[2016-12-12 15:45] mvdan commented on #108
This is the problematic one:

[code]

I commented it out for now to avoid the error, since I don't use the field anyway. The error seems to indicate that this is a string in the json body.

The gitlab webhook docs seem to agree with this error:

[code]

[2016-12-12 15:49] #108 closed

[2016-12-12 15:50] svanharmelen commented on #108
Thanks @mvdan, seen this before with the PipelineEvent so now fixed/updated for all event structs...

[2016-12-12 15:52] mvdan commented on #108
Awesome, thanks!

Perhaps all of these anonymous structs should be a separate type, with a `TODO` to merge back into the regular `Project` struct at some point?

[2016-12-12 15:56] svanharmelen commented on #108
Yeah, that would indeed also be a good option as they are now all the same (only different from the currently existing `Project` struct). Not going to do that right now, but if you're up for it a PR is of course welcome :wink:

[2016-12-12 16:18] biancalana commented on #107
@mustafayildirim @svanharmelen what do you think about #110 ?

[2016-12-12 16:22] svanharmelen commented on #107
Fixed by PR #110

[2016-12-12 16:22] #107 closed

[2017-01-15 11:30] julienroland opened #114 "Problem with Repositories.Archive() [STREAM error]"
Hi,

My go version is: go1.7.4 darwin/amd64

I'm unable to use the `Repositories.Archive()` method without having an error about stream:
`stream error: stream ID 1; PROTOCOL_ERROR`.
I must add that i didn't have the problem like 2 months ago (since then, i have updated dependencies and go bin)

When i'm doing the call to gitlab api using postman and the same token, i don't have any errors.
i dont

[2017-01-16 08:59] svanharmelen commented on #114
@julienroland it didn't ring any bells, but after some googling I suspect you're maybe hitting this issue: https://github.com/golang/go/issues/16847

Go 1.8 should contain a [fix](https://go-review.googlesource.com/#/c/27632/) for this, so if you have any chance to test/confirm this with [Go 1.8 RC1](https://golang.org/dl/#go1.8rc1) (it's on the bottom of the page) that would be realy awesome!

Ad

[2017-01-16 13:37] julienroland commented on #114
Thank you very much !

I tried using go1.8rc1 but it still doesn't work.
Which is strange because, it works well when i disable http2 like u mentioned (the work around).

Here is the code if someone needs it:

[code]

Thanks for you help !

[2017-01-16 13:37] #114 closed

[2017-01-20 14:48] sindrepm commented on #84
@svanharmelen just wondering if this has been fixed by now?

[2017-01-21 18:35] svanharmelen commented on #84
@sindrepm I must sadly admit I didn't yet get to this one. I didn't forget it and it's getting higher and higher on my todo list. So hang in there just a little while longer...

What would help me get started are a few (maybe curl) commands or code snippets that produce the different errors. That would speed up diving in and fixing any issues with the error handling greatly!

[2017-01-21 18:36] ivaravko commented on #80
@wahmedswl done https://github.com/xanzy/go-gitlab/pull/116

[2017-01-21 19:18] svanharmelen commented on #80
👍🏻

[2017-01-21 19:18] #80 closed

[2017-01-23 08:49] lyda opened #117 "Pagination"
This might be something people more used to REST wrappers know, but for me the [Response](https://godoc.org/github.com/xanzy/go-gitlab#Response) docs are incomplete. What is the behaviour of `NextPage`? Should I assume there's more data if `NextPage` is not zero?

Also the GitLab [pagination](http://docs.gitlab.com/ce/api/README.html#pagination) docs indicate there's also `X-Page` and `X-Total-Pag

[2017-01-23 11:51] wahmedswl commented on #80
Thanks 👍

[2017-02-03 13:33] sindrepm opened #121 "Token field is missing from AddProjectHookOptions"
The [Add project hook](https://docs.gitlab.com/ce/api/projects.html#add-project-hook) API endpoint supports a `token` parameter, however, this property is missing from the `AddProjectHookOptions` and `EditProjectHookOptions` types.

Can you please update these structs to include the Token field?

[code]

[code]

According to the API docs, the response does not include the token so I don't think th

[2017-02-03 14:50] svanharmelen commented on #121
If you can just paste those snippets into a PR, I'll be happy to merge it for you :wink: If you are unable to do so, then let me know and I'll will take a look later next week...

[2017-02-04 10:35] sindrepm commented on #121
@svanharmelen I tried to create a branch and push, but I don't have access.

[code]

[2017-02-04 10:54] sindrepm commented on #121
Done: PR #122

[2017-02-04 12:15] svanharmelen commented on #121
Fixed by PR #122

[2017-02-04 12:15] #121 closed

[2017-02-09 19:22] sindrepm opened #123 "Notification settings API"
In Gitlab 8.12, the [notification settings](https://docs.gitlab.com/ce/api/notification_settings.html) feature was introduced, allowing a user to set email notification preferences globally or at project/group level.

Are there any immediate plans or work in progress to add this functionality to `go-gitlab`? If not I will be happy to contribute.

[2017-02-09 20:18] svanharmelen commented on #123
No, there is no work in progress for the notification API... Off course a PR is much appreciated :wink:

[2017-02-09 20:29] sindrepm commented on #123
@svanharmelen Alright! I'll have a look at this shortly.

[2017-02-11 22:06] sindrepm commented on #123
@svanharmelen MR ready: #124
Please review and let me know what you think. It should be a complete implementation of https://docs.gitlab.com/ce/api/notification_settings.html.

[2017-02-11 22:08] sindrepm commented on #84
@svanharmelen if it is okay with you I can have a look at this and see if I can put together a PR with the changes needed.

[2017-02-12 15:35] svanharmelen commented on #84
@sindrepm of course that is OK 👍  Thanks for your efforts!

[2017-02-13 19:10] sindrepm commented on #84
@svanharmelen I have implemented parsing of the data validation errors according to the documented format here: https://docs.gitlab.com/ce/api/README.html#data-validation-and-error-reporting

To not introduce breaking changes I have left the old `ErrorResponse` unchanged, but added a new `ValidationErrorResponse`. If the API response cannot be unmarshaled as an `ErrorResponse`, it tries to unmarsh

[2017-02-13 19:35] svanharmelen commented on #84
Thanks @sindrepm! I'm pretty time constrained atm, but will make sure to review the PR tomorrow or Wednesday!

[2017-02-15 01:57] smeriwether opened #126 "Listing commits by Merge Request"
Hello!

I am trying to list commits by merge request (https://docs.gitlab.com/ce/api/merge_requests.html#get-single-mr-commits). I can't find anywhere in the docs how to do this so I am wondering if this is supported?

Thanks!

[2017-02-15 11:16] #126 closed

[2017-02-15 11:17] svanharmelen commented on #126
@smeriwether it was indeed missing, but it added in PR #128

[2017-02-15 15:24] #84 closed

[2017-02-15 15:26] svanharmelen commented on #123
Fixed by your PR #124 topped of with a little refactoring in PR #130

[2017-02-15 15:26] #123 closed

[2017-02-28 18:18] leandro-lugaresi opened #139 "Commit sctruct on events"
The commit data from events is a little different from other commit data from API
This is the commit data from PushEvent:
[code]
And this json is used in other events like:
https://github.com/xanzy/go-gitlab/blob/master/events_test.go#L151
https://github.com/xanzy/go-gitlab/blob/master/events_test.go#L240
Can we use this data in the Commit struct or create another struct?

[2017-02-28 19:51] svanharmelen commented on #139
Hi @leandro-lugaresi I'm afraid I don't understand your question. Could you rephrase and/or explain a bit more what you want to know? Thanks!

[2017-03-01 19:36] leandro-lugaresi commented on #139
Sorry.
The commit data from webhooks have some diffs from Commit struct used by gitlab API.
The struct we are using is [https://github.com/xanzy/go-gitlab/blob/master/commits.go#L36](https://github.com/xanzy/go-gitlab/blob/master/commits.go#L36) but the json is different for commits from webhooks.

[2017-03-03 20:06] svanharmelen commented on #139
@leandro-lugaresi I understand now. Don't know what the best solution is... Adding the data directly into the structs that need it is probably the most clean. It will prevent having 2 structs that are almost the same with probably also almost the same name. But it then does mean the code (the struct fields) are then duplicated a couple of times...

Still think it is the best solution to just add t

[2017-03-21 16:57] johanbrandhorst opened #142 "Support all Services"
Currently only a couple of the following services are supported:

Drone CI
Hipchat
Slack Notifications

Furthermore, only Drone CI has the getter defined, and there's also definitions for a Gitlab CI service which does not seem to exist anymore (using https://docs.gitlab.com/ce/api/services.html as a reference).

[2017-03-22 09:42] johanbrandhorst opened #143 "Make all HTTP calls context-aware"
With the `context` being made part of the standard library in 1.7, it should be possible to use a `context` for tracking requests, maybe at a client level and/or at a specific request level. Perhaps it could be an Option (`WithContext`)? The context should be used with the `http.Client` when performing requests, like so:

[code]

https://github.com/golang/net/blob/master/context/ctxhttp/ctxhttp.go

[2017-03-22 10:37] johanbrandhorst opened #145 "AddDeployKeyOptions does not contain all API options"
It's currently defined as such:
[code]

However, according to [the API docs](https://docs.gitlab.com/ce/api/deploy_keys.html#add-deploy-key) there is another variable, `can_push` which is not currently exposed by the library.

[2017-03-22 11:07] #145 closed

[2017-03-22 11:23] johanbrandhorst opened #148 "Add support for project triggers"
Doesn't look like [project pipeline triggers](https://docs.gitlab.com/ce/api/pipeline_triggers.html) are supported yet?

[2017-03-22 11:36] #143 closed

[2017-03-22 12:09] johanbrandhorst commented on #148
I'm gonna have a crack at this

[2017-03-22 12:10] svanharmelen commented on #148
Sure thing, go right ahead!

[2017-03-22 15:54] johanbrandhorst commented on #148
Is this project going to target v3 or v4? I'm assuming it's v3 now, which [according to Gitlab](https://docs.gitlab.com/ce/api/v3_to_v4.html) has just been deprecated (9.0 is released today). Do you plan on making a branch for v4 support and have some clean cutoff?

[2017-03-22 16:44] johanbrandhorst commented on #148
Having looked a bit more at v3 -> v4 details it'll be quite an undertaking to update all the things changed. Here's the document with the changes https://docs.gitlab.com/ce/api/v3_to_v4.html. Also I suppose the README.md could make it more explicit that this library targets v3?

[2017-03-22 17:12] svanharmelen commented on #148
Yeah, I guess it's about time to think about this one a little... I think I would like to work up to a final release that supports the V3 API, and then start with making the package support the V4 API.

I don't think having separated branches would work nicely in the longer run. Of course during development that's just fine, but once all is good I think master should be the latest and greatest.

A

[2017-03-22 17:14] #148 closed

[2017-03-22 17:17] johanbrandhorst opened #151 "Support the v4 API"
Lets track this in an issue. The GitLab API v3 is officially deprecated and will be supported until at least 9.3. Given the current release schedule (once per month), that means it will be unsupported 3 months from now.

I would like to be able to start consuming v4 functionality so I might start work on a v4 branch.

I think all current documentation links need to be updated to the v3 documentati

[2017-03-22 21:13] svanharmelen commented on #151
Sounds good... I think this sums up our previous conversation pretty well. So fully agree on this approach and will also try to reserve some time for this in the coming months.

Unfortunately I cannot make any strong commitments as I have a few internal projects that currently take a lot of my time. But I'm sure I can free up at least some hours...

[2017-03-23 09:20] johanbrandhorst commented on #151
Could you create a v4 branch so I can submit merge requests against it?

Thanks

[2017-03-23 09:24] svanharmelen commented on #151
Done: https://github.com/xanzy/go-gitlab/tree/f-api-v4

[2017-03-25 12:45] Viperoo commented on #151
Hi,

Do you add support of [jobs](https://docs.gitlab.com/ce/api/jobs.html)?

[2017-03-28 12:58] Cmaster-co opened #162 "What is Context?"
Failed to build the application: ../github.com/xanzy/go-gitlab/gitlab.go:21:2: cannot find package "context" in any of:
	/Users/apple/golang/src/github.com/xanzy/go-gitlab/vendor/context (vendor tree)
	/usr/local/go/src/context (from $GOROOT)
	/Users/apple/golang/src/context (from $GOPATH)

[2017-03-28 13:50] svanharmelen commented on #162
See here for more details: https://golang.org/pkg/context

Also please note the README which mentions that from release 0.5.x you will need at least Go version 1.7.x

If you use an older version of Go, please checkout (or vendor) version 0.4.x which will work with older versions of Go as well.

Does this help?

[2017-04-04 12:46] svanharmelen commented on #162
In absence of a follow up question I'll close this issue. Feel free to open it again if you do have a follow up question after all!

[2017-04-04 12:46] #162 closed

[2017-04-05 04:38] eguevara commented on #151
If not done already, can I take a stab at
https://docs.gitlab.com/ee/api/todos.html

[2017-04-05 06:36] svanharmelen commented on #151
@eguevara that's not done yet, so by all means! 👍

Please do refer to the CE docs instead of the EE docs as I would like to keep this package compatible with the CE version.

And as guideline, please create a `TodosService` for this one and put the related code in a file called `todos.go`. That will keep things consistent.

Thanks!

[2017-04-16 06:21] bgetsug commented on #151
@Viperoo support for the `jobs` API was merged to the `f-api-v4` branch in #166

[2017-05-03 08:42] stevenorman commented on #151
I was going to have a look at some of the outstanding changes for this.  Would you prefer merge requests for each task in the list or could some be lumped together?

Also, how about merging changes from master into the v4 branch?  I had an MR merged last week and it probably needs to end up in branch.  I can raise a second MR for that if needed.

[2017-05-13 08:30] theduke opened #171 "Support for gopkg.in / Release 1.0"
Right now, the API can not be used with http://gopkg.in because the version is still 0.5.

What do you think about releasing api v3 support as 1.0?
Then when the upgrade to v4 is finished you could bump the version to 2.0.

(An alternative would be to have the major version track the gitlab api version, but that would mean no breaking changes ever for one API version which is maybe not ideal).

[2017-05-16 09:49] dihedron commented on #151
Hallo, I have an issue with the way support for API v4 is being proposed. Please be aware that there are relevant scenarios where there is a need for **both** API v3 **and** v4 support at the same time.

As an example, go-gitlab is vendored inside [HashiCorp's Terraform](https://github.com/hashicorp/terraform), where it is used to manage GitLab instances in a declarative way via a specific plugin.

[2017-05-18 07:23] svanharmelen commented on #139
Closing this issue as the question seems to be answered and no conversation is happening anymore on this topic. Please reopen if you have additional questions/issues.

[2017-05-18 07:23] #139 closed

[2017-05-18 08:26] svanharmelen commented on #171
@theduke sorry, but I'm not going to release the current master branch to v1.0. I guess the best option to ensure repeatable builds, is to vendor this package.

[2017-05-18 08:26] #171 closed

[2017-05-18 09:52] svanharmelen commented on #151
@dihedron I understand your question/issue, but I think the proposed solution is one that would make things very complex and hard to maintain.

I still think there is a solution for your problem, but it will require some thinking and testing. So let me get back on this one once I have done a little prototyping.

[2017-05-18 12:54] dihedron commented on #151
Cool! Let me know if I can help.

[2017-06-14 12:13] rbomfim opened #180 "ode ."

[2017-06-14 15:57] svanharmelen commented on #180
Closing this one as I assume this wasn't opened on purpose. If it was, please provide more info...

[2017-06-14 15:57] #180 closed

[2017-06-25 10:33] totallyunknown opened #181 "Build variables: support protected flag"
GitLab 9.3 introduce protected build variables. In 9.3.0 this field is mandatory (documentation says something else). I've created https://gitlab.com/gitlab-org/gitlab-ce/issues/34282 to fix GitLab here.

But anyway, go-gitlab should support the new flag.

[2017-06-26 11:34] Smithx10 opened #182 "Implement Username to Username helper"
While trying to expand the terraform gitlab provider [https://github.com/terraform-providers/terraform-provider-gitlab](url) I discovered that the gitlab-api only accepts UserID ints, for Adding GroupMembers, GetUser etc.

I have added a helper function into the terraform provider,  but am sure I am not the only person that will confront this issue and think we could add a GetUserID Helper to go-g

[2017-06-27 07:38] svanharmelen commented on #181
Fixed by commit 0be61ab0655bfd6f16f956147b0ff8df337db9ad I will only fix this in the v4 branch as that one is related to the newer API...

[2017-06-27 07:38] #181 closed

[2017-06-27 08:03] totallyunknown commented on #181
Thanks.

[2017-07-19 21:17] Rukenshia opened #185 "Delete issue notes?"
I can't seem to find a function to delete a note. I hope I am just blind, so can you help me maybe?

[2017-07-20 06:03] svanharmelen commented on #185
Strangely enough it seems you're absolutely right... Seems those functions are indeed missing. Will try to add them later this week. Or, if you feel up to adding them yourself, I would of course welcome any PR's adding the missing functions.

Thanks for reporting this issue!

[2017-08-02 10:44] #185 closed

[2017-08-02 10:44] svanharmelen commented on #185
@Rukenshia should be fixed in master now...

[2017-08-02 18:54] Rukenshia commented on #185
awesome, thanks a lot @svanharmelen :)

[2017-08-06 09:22] svanharmelen commented on #182
I fully understand how this could add value, but for now I would like to stay away from adding custom helper functions and only support the functionality that the Gitlab API itself offers.

At least for the time being...

[2017-08-06 09:22] #182 closed

[2017-08-10 19:04] sindrepm opened #189 "[Bug] AddProjectHookOptions.BuildEvents should be renamed to JobEvents"
I am getting an error when trying to add a new project hook on Gitlab 9.3.8. Turns out that the `build_events` parameter has been renamed to `job_events`:

https://docs.gitlab.com/ce/api/projects.html#add-project-hook
[code]
Head of `master` branch still uses `build_events` parameter. See https://github.com/xanzy/go-gitlab/blob/master/projects.go#L745

Is this something that can be fixed as curren

[2017-08-11 19:46] svanharmelen commented on #189
Currently we try to keep master backwards compatible and are working on full API V4 support is a feature branch (f-api-v4).

For now I would suggest you use that branch instead of master. Hopefully after the vacation times are over we round up the V4 support and move that to master.

Current master will then become a maintenance branch... Hope this helps. On holiday myself as well now, so not arou

[2017-08-12 10:45] sindrepm commented on #189
@svanharmelen Great to hear that API V4 support is finally coming as it has been the preferred version since GitLab 9.0 and API V3 will be unsupported from GitLab 9.5. I already had a look at the `f-api-v4` feature branch but it doesn't seem like this change is in yet, so I created a local fork for now.

[2017-08-12 12:25] svanharmelen commented on #189
Check... Well of course PR's are always welcome :wink:

[2017-08-12 12:25] #189 closed

[2017-08-20 08:53] pcarranza opened #191 "Add support for feature flags"
As per https://docs.gitlab.com/ce/api/features.html

I plan to implement this myself as I need it

[2017-08-23 16:35] pcarranza commented on #191
Closing because the branch is merged in

[2017-08-23 16:35] #191 closed

[2017-08-24 21:23] TreyLawrence opened #194 "Erroring on 204 response code"
Right now only 200, 201, and 304 are supported response codes:
https://github.com/xanzy/go-gitlab/blob/master/gitlab.go#L475-L477

But after deleting a user, I'm getting a 204 (no content), which is not an error.

[2017-08-24 21:52] TreyLawrence commented on #194
I'm using the `gitlab/gitlab-ce:latest` docker image, which is using `GitLab Community Edition 9.4.3 b125d21`

[2017-08-25 07:02] hellojukay opened #195 "DELETE EOF"
i am using f-api-v4 branch, when delete a file, the go-gitlab return error : EOF.
my golang version is 1.8.3, my os is osx.

[2017-08-25 07:07] svanharmelen commented on #195
I would need a bit more details in prder to be able to help. Like a short example code showing which calls you make, and the error output you see. Thx.

[2017-08-25 07:22] hellojukay commented on #195
<img width="844" alt="gitlab" src="https://user-images.githubusercontent.com/10371891/29703604-c98f22dc-89a8-11e7-8168-36fea35c8827.png">
this is my code , in order to fix this "bug", i add the EOF check,it works. In fact, when return EOF, go-gitlab also delete file success.

[2017-08-25 08:15] svanharmelen commented on #195
And what response do you get when you try this with a curl cms, like shown here: https://gitlab.com/gitlab-org/gitlab-ce/blob/9-5-stable/doc/api/repository_files.md#delete-existing-file-in-repository

Does that give the same response?

And/or, if you look at the second return value (which is the response), you could check the content of `resp.Body` and post that back as well... Thx!

[2017-08-25 08:42] svanharmelen commented on #194
The 204 code is already added to the `f-api-v4` branch. This branch is used to prepare full API V4 support which contains some backwards incompatible changes. I hope to be able to finish that branch soon and merge it into master, but for now please just manually select/use that branch. Thx!

[2017-08-25 08:42] #194 closed

[2017-08-25 10:34] svanharmelen commented on #151
I walked true all the remaining tasks and updated/changed things were needed. So I think we now have finished all changes needed to support the V4 API. There are new endpoints that are not yet supported (they don't currently exist in this package), but all the existing endpoints should now work correctly with the V4 API.

I'm closing this issue and will do the needed git magic later today (one mor

[2017-08-25 10:34] #151 closed

[2017-08-25 11:24] johanbrandhorst commented on #151
Good job!

[2017-08-30 09:49] #195 closed

[2017-09-07 16:35] abiggerhammer opened #205 "expires_at in AddProjectMemberOptions"
Gitlab's `/groups/:id/members` and `/projects/:id/members` [endpoints](https://docs.gitlab.com/ce/api/members.html#add-a-member-to-a-group-or-project) support an optional `expires_at` parameter, a timestamp at which the member's access will be revoked. I notice that this parameter is [not one of the fields](https://godoc.org/github.com/xanzy/go-gitlab#AddProjectMemberOptions) in `AddProjectMemberO

[2017-09-07 19:41] #205 closed

[2017-09-13 10:34] sindrepm commented on #189
@svanharmelen Now that f-api-v4 has been merged to master, this part of the API is not working at the moment, so I went ahead and implemented the changes in PR #207 making it compatible with V4.

[2017-09-14 03:17] dongmx opened #208 "Can not find support for "GET /users/:user_id/projects""
GitLab API document is here: `https://docs.gitlab.com/ee/api/projects.html`.
It seems that this lib not implemented `GET /users/:user_id/projects`.

[2017-09-19 09:11] hellojukay opened #210 "i have just a file path , how can i get the cureent version string?"
i have just a path , how can i get the cureent version string?

[2017-09-19 10:52] svanharmelen commented on #210
@hellojukay a little bit more context is needed here. Can you give some more details of what you are doing and what you are trying to achieve? Then maybe I can point you in the right direction...

[2017-09-19 11:03] hellojukay commented on #210
this is my filepath in git: deploy_tomcat_test/devtest/default/app.yaml
this id my proejct name: dida_config_repository
this is my groupname: foundation

i want to no the lastest commit id of this file, so, i call this function
func (s *CommitsService) GetCommit(pid interface{}, sha string, options ...OptionFunc) (*Commit, *Response, error)

but it response 404, like this:

ERRO[0001] GET http://g

[2017-09-19 11:07] svanharmelen commented on #210
And what do you put into the function call as `pid` param value? I think it should be `foundation/dida_config_repository`.

[2017-09-19 11:25] hellojukay commented on #210
@svanharmelen i try it too,but it still not work!

ERRO[0018] GET http://gitlab.didapinche.com/api/v4/projects/foundation/dida_config_repository/master/repository/commits/deploy_tomcat_test/devtest/default/app.yaml: 404 {error: 404 Not Found}  file=logger.go func="logrus.(*Logger).Error" line=219

[2017-09-19 11:38] svanharmelen commented on #210
Can you show the snipped of code that is calling `GetCommit`?

[2017-09-19 11:48] hellojukay commented on #210
@svanharmelen thx every much, i made it , just kown i see the gitlab doc,it help me .thx again! thank you!!!

[2017-09-19 11:49] svanharmelen commented on #210
Cool! Good to hear it works now... 👍

[2017-09-19 11:49] #210 closed

[2017-09-22 12:47] svanharmelen commented on #208
No I guess you're right... If you're up for adding it, by all means create a PR and have a go at it 👍

[2017-09-22 12:52] svanharmelen commented on #142
Yeah, the Gitlab API is being extended and improved continuously so I guess there are a few new services that are not supported in here yet. I a bit constrained on time, but will try to allocate some time in the near future.

Meanwhile of course any PR's adding what you need are much appreciated!

[2017-09-22 13:34] svanharmelen commented on #57
Fixed by PR #215

[2017-09-22 13:34] #57 closed

[2017-09-23 09:19] roidelapluie opened #216 "Protected branches"
https://docs.gitlab.com/ce/api/protected_branches.html

Protected branches is a new api endpoint introduced recently.

I'd love to see it supported in this project ; that way downstream project https://github.com/terraform-providers/terraform-provider-gitlab could use it.

[2017-09-23 10:08] roidelapluie opened #217 "group is missing parent_id"
parent_id is in the group create options but not in the Group  type. it means we can not fetch the data.

[2017-09-24 15:03] #217 closed

[2017-09-26 12:20] roidelapluie commented on #217
Awesome thanks!

[2017-09-27 11:33] roidelapluie opened #220 "Can not delete a group parent"
The omitempty here means that we never pass parent_id: null in the JSON.
So we can not remove a parent_id at the moment.

I have no idea how we could deal with that.

https://github.com/xanzy/go-gitlab/blob/d11d546f58c67430417f975b453f44f280474a4d/groups.go#L119

[2017-09-27 11:54] #220 closed

[2017-09-27 11:54] roidelapluie commented on #220
closing because we can not change the parent id with api anyway

[2017-09-27 17:21] svanharmelen commented on #220
Yeah... That's indeed an interesting case. I need to think about this and see if I can come up with a solution...

[2017-10-14 08:02] kairen opened #226 "Undefined: gitlab.VisibilityLevel"
Today I want to run a example to control my GitLab, but I follow this repo README to create a simple code, while running code it will get a few error as below message:
[code]

I see the `VisibilityLevel` has been changed to `Visibility`. Therefore, I replace `VisibilityLevel` with `Visibility `, but it will get new error as below:
[code]

[2017-10-14 08:15] svanharmelen commented on #226
@kairen which version of Gitlab are you using? It seems that you are talking against an older version that doesn’t support the latest V4 API.

Check out the README.md as it mentions something about compatibility. If you need support for the V3 API you should use the `f-api-v3` branch.

[2017-10-14 09:41] kairen commented on #226
@svanharmelen Sorry, I missed this mentions in README.md!

[2017-10-14 09:41] #226 closed

[2017-10-14 11:18] svanharmelen commented on #226
No problem :+1:

[2017-10-18 09:14] afking opened #227 "Invalid struct for MergeCommentEvent."
Does not correctly unmarshal to *MergeRequest for MergeCommentEvent struct: https://godoc.org/github.com/xanzy/go-gitlab#MergeCommentEvent, as the API returns a structure similar to MergeRequestEvent: https://docs.gitlab.com/ce/user/project/integrations/webhooks.html#comment-on-merge-request.

[2017-10-20 12:52] svanharmelen commented on #227
Can you share some more details @afking? I'm not sure I understand what you mean.

Do you have an example of the error you get? And/or some example code that shows the problem?

[2017-10-20 15:04] afking commented on #227
@svanharmelen the struct `MergeCommentEvent` has a field `MergeRequest` of type `*MergeRequest`, however I think it should be the same as `MergeEvent.ObjectAttributes` instead.

[code]
Maybe I'm unmarhsalling to the wrong struct for the webhook events?

[2017-10-22 10:43] Bouwdie opened #229 "Support for avatar option in create/edit project"
https://docs.gitlab.com/ce/api/projects.html#edit-project -> Currently the CreateProjectOptions does not contain an entry to send along an `avatar`, even thought it is supported in the API.
Would be great if we could upload an avatar :smile_cat:

Maybe we can also directly support the other new params `ci_config_path` and `tag_list`?

[2017-10-24 13:00] blaggacao opened #230 "Support get user by username"
There is an api to find users by username[1] which is not currently implemented but would be very useful downstream[2]

[1] https://docs.gitlab.com/ee/api/users.html#list-users documents
/users?username=:username.
[2] https://github.com/terraform-providers/terraform-provider-gitlab/pull/39

[2017-10-26 08:43] svanharmelen commented on #229
@Bouwdie I am about to add the missing options, but it's unclear from the docs that type of info is expected for the `avatar` field. As the type is `mixed` and it's not called `avatar_url` like in other locations of the API.

So do you know what it expects here? Does it expect an URL, or the image itself (so a string or bytes)?

[2017-10-26 11:05] Bouwdie commented on #229
@svanharmelen I totally agree with the confusion there, the documentation is lacking there. I will check tonight what setup works. Otherwise we could log an issue at Gitlab to get clarification on the field.

[2017-10-26 12:13] svanharmelen commented on #229
👍  Thx!

[2017-10-28 08:48] Bouwdie commented on #229
Sorry for the late reply, i dove into the code of the ce edition and found out they use a file upload, and not a url.

https://gitlab.com/gitlab-org/gitlab-ce/blob/master/lib/api/projects.rb#L28
https://gitlab.com/gitlab-org/gitlab-ce/blob/master/spec/requests/api/projects_spec.rb#L477

This means we have to send multipart i guess? Maybe you see a way to fit this nicely in the current client struc

[2017-10-30 15:21] lincolnzhou opened #233 "branch need url encode"
https://github.com/xanzy/go-gitlab/blob/e6f4b9d42e48b5dd1201aa16949b4034213ad50e/branches.go#L91

Recently, I used git flow in the development process, and there was a branch that like this format: feature/test, which resulted in the  query branch information api 404 not found.

I read the offical document and found that the branch and project name need url encode. Specific documents are as follow

[2017-10-31 02:19] fibers commented on #208
Damned, so you shouldn't publish the document with this feature ........ @svanharmelen

[2017-10-31 03:09] BlackSpadeJack commented on #208
yeah，why the official doc is so ugly @fibers

[2017-10-31 06:20] svanharmelen commented on #208
I’m sorry @fibers, but what exactly do you mean with your comment?

[2017-10-31 10:48] dongmx commented on #208
@fibers @svanharmelen I'v already create a PR about this. https://github.com/xanzy/go-gitlab/pull/234

[2017-10-31 11:36] svanharmelen commented on #208
I

[2017-10-31 11:36] #208 closed

[2017-11-01 10:47] jangrewe commented on #117
Yes, i just got bitten by this, too. How can this be handled?

[2017-11-01 19:10] Bouwdie commented on #229
In the original merge request i also found the following curl example of an avatar upload:
https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/12143

`curl --request PUT --header "PRIVATE-TOKEN: XXXXXXXXX" --form "avatar=@/tmp/test.jpg" https://my-gitlab-instance.io/api/v4/users/2
`

[2017-11-04 06:10] yangshenhuai opened #238 "field "work_in_progress " type mismatch"
If I request the below api directly
 http://ip/api/v3//projects/{project_id}/merge_requests
and if there's a WIP merge request ,the response will like below
{
...
        "work_in_progress": 0,
}

As your can see the work_in_progress is a int ,but in merge_request.go , the you defined it as bool type..
type MergeRequest struct {
...
	WorkInProgress bool   `json:"work_in_progress"`
}
so there'll be

[2017-11-04 14:31] svanharmelen commented on #238
@yangshenhuai when I look at the docs over [here](https://docs.gitlab.com/ce/api/merge_requests.html) all the examples show this field as a bool:

![image](https://user-images.githubusercontent.com/4171547/32406216-9ad3adc4-c174-11e7-9d20-34896091bdd6.png)

So I'm not sure what to make of this report. Could you tell me against what version of Gitlab you run your test? And could you maybe send me y

[2017-11-07 13:02] seblegall opened #239 "MergeRequest.UpdatedAt is not a *time.Time anymore"
Hello,

I just noticed that `MergeRequest.UpdatedAt` is now type `string` since the upgrade to API v4. Is that a choice or a mistake?

As an example : `Issue.UpdateAt` is still type `time.Time`.

I can work on a PR if this issue is an actual one. What do you think?

[2017-11-07 14:01] svanharmelen commented on #239
@seblegall unfortunately this is intentional. Please see issue #209 for more details...

[2017-11-07 14:32] Lorac opened #240 "Emoji Award API"
Is this missing in the current state of the project? It looks like it.

https://docs.gitlab.com/ce/api/award_emoji.html

[2017-11-07 15:36] seblegall commented on #239
@svanharmelen Wired.

I investigated a little bit. Here is what I found :

* Gitlab API v4 documentation does not mention any crated_at or updated_at field for the `MergeRequest` json object.
* When actually calling the `/merge_requests` endpoint those fields are present
* The date format is ok to be typed as time.Time

Here is an example of what I have :

[code]

I understand that datetime in gen

[2017-11-10 01:32] yangshenhuai commented on #238
@svanharmelen  yeah, I also checked the document ,and found out the work_in_progress is type bool.
my gitlab version is 8.0.5 , maybe version is too old.

[2017-11-10 22:27] svanharmelen commented on #238
Check... Then I'll close this one for now.

Feel free to reopen the issue if you get any other or new insights!

[2017-11-10 22:27] #238 closed

[2017-11-13 10:35] svanharmelen commented on #240
@Lorac yes, it seems this API is currently not covered...

[2017-11-13 10:52] svanharmelen commented on #239
I agree it seems like it, but the `MergeRequest` struct is also used in [here](https://github.com/xanzy/go-gitlab/blob/master/events.go#L233) for this API: https://docs.gitlab.com/ce/user/project/integrations/webhooks.html#comment-on-merge-request

The output received from that API call contains a `merge_request` field which is 99% identical to the `MergeRequest` struct, but here the timestamps ar

[2017-11-13 10:57] svanharmelen commented on #227
I seems the problem is that the `MergeRequest` struct is used in two API calls (here and here)

The outputs received are 99% identical, but it looks like just a few fields are not populated in the `MergeCommentEvent`.

Not sure how to proceed with this other that making two separate structs. Maybe that would also be the correct solution for issue #239

[2017-11-14 08:30] seblegall commented on #239
So sad. :-( I understand your dilemna... Maybe the solution is indeed to duplication the MergeRequest struct. But it's kind a ugly. I'll try to think about a better solution. Maybe there is a way to format the date when Unmarshaling JSON using a custom decoder...

[2017-11-14 09:30] michaellihs opened #241 "Support GET /users?blocked=true"
The current `ListUsersOptions` do not support `Blocked`, hence the Gitlab API feature `GET /users?blocked=true` is not supported.

Please add `Blocked` to `ListUsersOptions` to support this.

I will create a pull request for this, only opened the issue for documentation.

[2017-11-14 11:49] svanharmelen commented on #241
Closed by PR #242

[2017-11-14 11:49] #241 closed

[2017-11-14 11:52] svanharmelen commented on #239
Yeah, that should be possible and would be an easy fix for this one. But then the other issue (#227) still remains unsolved. So I think duplicating the struct is (very unfortunately) the better solution in this particular case...

[2017-11-15 08:34] sprotest opened #243 "ListProjects does not work as expected"
Using this https://github.com/xanzy/go-gitlab url to testing api calls I found that this simple example does not return expected projects.
Code example:

[code]
len(projects) returns 0

When I call api from browser:
https://mygitlab.mydomain.io/api/v4/projects?custom_attributes[search]=artem
It returns all my projects.

[2017-11-17 10:11] svanharmelen commented on #227
This issue is solved by PR #245

[2017-11-17 10:11] #227 closed

[2017-11-17 10:17] afking commented on #227
@svanharmelen thanks for the fix! This library has saved me a lot of time.

[2017-11-17 10:19] svanharmelen commented on #227
Thanks, that's good to hear 👍

[2017-11-17 10:20] svanharmelen commented on #239
Fixed by commit ee48e93a8e3b79669daebe87c77e7b1d40e876f1

[2017-11-17 10:20] #239 closed

[2017-11-17 10:34] svanharmelen commented on #243
Interesting...

For starters the example you gave above is not consistent. In the API call from your browser you are using `custom_attributes` (which is currently not supported by this package) and in the code example you're using the standard `search` field as described here: https://docs.gitlab.com/ce/api/projects.html#list-all-projects

So I wonder if the Gitlab API changes with regards to this

[2017-11-19 08:48] michaellihs opened #248 "Add support for GET user/activities"
Please add support for `GET user/activities` as described in https://docs.gitlab.com/ce/api/users.html#get-user-activities-admin-only

[2017-11-19 12:32] etsrepo opened #250 "Add support for /events and /users/:id/events"
add support for events and user events as described at https://docs.gitlab.com/ce/api/events.html#get-user-contribution-events

[2017-11-19 14:17] michaellihs opened #251 "`expires_at` as returned by `POST /users/:user_id/impersonation_tokens` cannot be parsed"
When I create a new impersonisation_token with `Users.CreateImpersonationToken(userId, opts)` and `opts.ExpiresAt` is set with a time object created from `2017-12-24` (as stated in the Gitlab API documentation here https://docs.gitlab.com/ce/api/users.html#create-an-impersonation-token), I get the following error message:

[code]

This is due to the date format of `expires_at` not being compatible

[2017-11-19 19:08] svanharmelen commented on #251
This could/should be a possible solution for this problem as well: https://github.com/michaellihs/go-gitlab/pull/1

[2017-11-19 19:09] svanharmelen commented on #248
Please see here for my follow up: https://github.com/michaellihs/go-gitlab/pull/1

[2017-11-20 08:39] #251 closed

[2017-11-20 08:41] svanharmelen commented on #248
This issue is fixed by PR #249

[2017-11-20 08:41] #248 closed

[2017-11-20 12:03] peternijssen opened #253 "Missing query escape in jobs"
Hi,

I noticed that the Tags.GetTag() does a URL call like this;
[code]
while Jobs. GetJobArtifacts() does a URL call like this;
[code]

I suppose the difference is because there is no consistent query escape being done;
https://github.com/xanzy/go-gitlab/blob/55af103d769f3715bf6dddfdea30ce2899fb0e8b/tags.go#L85
https://github.com/xanzy/go-gitlab/blob/55af103d769f3715bf6dddfdea30ce2899fb0e8b/jobs.

[2017-11-20 12:22] svanharmelen commented on #253
Oeps... That is indeed a bug. `project` should always be escaped...

[2017-11-20 12:26] svanharmelen commented on #253
Fixed by commit b1362a3ba2b24ba59f92c2027f4d02142346dfdd

[2017-11-20 12:26] #253 closed

[2017-11-20 20:54] michaellihs opened #256 "Add support for `Organization`, `Location` and `External` in create and modify user"
The fields `Organization`, `Location` and `External` for a user are currently not supported by go-gitlab.

[2017-11-21 07:10] svanharmelen commented on #256
Hi @michaellihs, for me you don't have to open an issue for something that you are also creating a PR for... Just adds noise if you ask me :wink: But thanks again for the PR!

[2017-11-21 07:10] #256 closed

[2017-12-02 20:48] vitalyisaev2 opened #265 "Automating work with Personal Access Token API"
Hello, thanks for a perfect library! Would you like to accept contribution that will provide a way to get Personal Access Token API?

The interface would be something like:

[code]

[2017-12-05 00:37] antony360 commented on #265
Interesting contribution, but how would you do that ? I don't think the API provides this option ...

[2017-12-05 09:15] svanharmelen commented on #265
Hi @vitalyisaev2! PR's are always welcome. Not sure what the signature of the function should be, but I would say just make a PR that you think should work and fits in with the rest of the code. And then we'll take it from there 👍

Thanks!

[2017-12-08 08:00] LiangXugang commented on #265
I need this too!!! But i don't find a good way to do that.
Please @@@@me if PR about this  made.
thx!

[2017-12-08 08:03] LiangXugang opened #267 "Can i get private-token with my password?"
I can get my username&password only, and how can i create the go-gitlab client??
In my app,  i cannot use OAUTH2.0 token anymore.

[2017-12-08 09:07] svanharmelen commented on #267
@LiangXugang you should be able to use your a private or personal token without any issues: https://docs.gitlab.com/ce/api/#personal-access-tokens

[2017-12-08 17:19] gjnoonan commented on #240
I'm happy to work on this 👍

[2017-12-08 17:59] clns commented on #267
I think his requirement is to use the password to retrieve the token, as the token is not available at the time. This was achieved before GitLab 10.2.0 (2017-11-22) using the Session API which [was recently removed](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG.md#removed-5-changes).

At the moment I don't think this is possible.

[2017-12-08 19:58] svanharmelen commented on #240
@gjnoonan feel free to do so... PR's are much appreciated! :wink:

[2017-12-08 21:46] gjnoonan commented on #240
@svanharmelen Whilst writing the code for this, I pondered two different ways. One, follows the same pattern as the rest of the library, where AwardEmoji has it's own service

[code]
and it's usage ..
[code]

Although this provides consistency with the rest of the library, because of the slight difference in API for Award Emoji, I wondered if it was more natural to call the Method on the Issue/Mer

[2017-12-10 08:41] LiangXugang commented on #267
@clns  yep, i use the Session API in v3-Gitlab. But it's removed in v4-Gitlab.

As my user is just a general user(not admin), I cannot create a impersonation token too.

[2017-12-10 09:14] clns commented on #267
It’s removed in v3 as well, I think it’s removed in all api versions.

[2017-12-11 04:13] xuzhenglun opened #271 "ListTags missing ListTagsOptions"
Tags list also has pagination just like branches list.

Is it necessary for ListTags add a param called 'ListTagsOptions' ?

[2017-12-11 09:02] svanharmelen commented on #240
Yeah, this is a really good question... In the end my goal is to make this package follow (as much as possible) how the docs are organized, as I believe that will help people to easily find the things they are looking for. So in this case I think we should go for the `AwardEmoijService`, even through the other option would definately be a good solution as well...

[2017-12-11 09:11] gjnoonan commented on #240
Thanks for getting back to me @svanharmelen I will put up a PR shortly

[2017-12-11 09:13] svanharmelen commented on #240
Thanks 👍

[2017-12-11 09:18] svanharmelen commented on #271
Closed by #272

[2017-12-11 09:18] #271 closed

[2017-12-11 09:29] svanharmelen commented on #267
I'm really sorry, but I fail to understand what the actual problem is here. If I login to `gitlab.com`and go here:

![image](https://user-images.githubusercontent.com/4171547/33824147-b7d725c6-de5d-11e7-936c-1a3f8b3d8162.png)

I can create `personal access tokens` that I can use as `private token` in the `go-gitlab` package. Isn't that all you need? Or am I missing something here?

[2017-12-11 10:33] vitalyisaev2 commented on #267
@svanharmelen there are a lot of use-cases when it's not possible to obtain `personal access token` via web UI. But `Gitlab` provides no other way to achieve this.

Suppose you're writing a service which interacts with `Gitlab` API and you have to write integration tests for it. On your CI system you deploy clean environment, run containers with `Gitlab` and your service. Than you need to get `per

[2017-12-11 11:15] svanharmelen commented on #267
@vitalyisaev2 ok, I understand your use case. I do think it's kind of a corner case and I wonder if we should solve this in the `go-gitlab` package.

But on the other hand I think I can probably create a solution which would allow you to use this package with either a token or your username/password. So let me have a look at that instead, as I believe that would be the real solution right?

[2017-12-11 11:21] svanharmelen commented on #267
Hmm... One more question to understand your use case. If you spin up a new Gitlab setup in a container, then how do you get your username/password?

[2017-12-11 11:22] vitalyisaev2 commented on #267
@svanharmelen yes, I think, we are actually looking for a way to access API only with login / password.

[2017-12-11 11:24] vitalyisaev2 commented on #267
It's possible to set up root password via Docker environment variables (https://github.com/sameersbn/docker-gitlab)

[2017-12-11 15:22] svanharmelen commented on #267
Ok... So I've spent a reasonable amount of time on this today, only to come to the conclusion that it is not possible (given the current options the Gitlab API offers us) to create a decent way to support your use case.

I suggest you open an issue with Gitlab and explain them your use case to see if they can come up with either a solution or an API change (if they're willing to go that far) to su

[2017-12-11 16:02] vitalyisaev2 commented on #267
@svanharmelen thanks for your effort in investigation of this issue :)

There's a [thread](https://forum.gitlab.com/t/how-can-i-create-a-personal-access-tokens-by-api/4321) on Gitlab forum where several users are wondering how to work around it. I'll try to issue a feature request to Gitlab, but I'm sure they have reasons not to implement this feature, otherwise it should have been implemented a l

[2017-12-11 16:41] vitalyisaev2 commented on #267
https://gitlab.com/gitlab-org/gitlab-ce/issues/41019

[2017-12-11 16:46] svanharmelen commented on #267
Hope anything useful comes out of it 👍

[2017-12-18 06:36] nkprince007 opened #285 "assignees should be an array of structs"
References: https://docs.gitlab.com/ee/api/issues.html#single-issue

There can be multiple assignees to an issue / merge request on GitLab.

[2017-12-18 10:11] #285 closed

[2017-12-23 11:23] michaellihs commented on #267
Maybe this SO post can be used as a foundation of how to get the access token / session token via curl requests https://stackoverflow.com/a/47952043/1549950

The session token should be usable for authenticating API requests as well - see https://docs.gitlab.com/ce/api/README.html#session-cookie

[2017-12-23 12:43] svanharmelen commented on #267
@michaellihs thanks for the reference. This is more of less what I tried last time I worked on this (see the last commit in this branch: https://github.com/xanzy/go-gitlab/tree/f-session), but I didn't quite get it working.

But now looking at it again, I think I see what I did wrong. So let me try to update my last attempt just a bit...

[2017-12-23 13:03] svanharmelen commented on #267
Yeah, so I didn't do anything wrong... The problem is that the CSRF token is only set in the metadata and not in a header. So in order to retrieve that value we would need to parse/scrape the returned webpage. And I really don't want to go that route. To me that just feels too bad/ugly 😞

[2017-12-23 14:21] svanharmelen commented on #267
Ok... This is still ugly, but it does work... So maybe we should merge this to offer users a solution to login using username password (see the last commit in the `f-session` branch).

[2017-12-23 14:23] svanharmelen commented on #267
@LiangXugang @michaellihs @vitalyisaev2 could you guys please give this a good test run to make sure it works as expected? Both the new `NewBasicAuth` client as the old existing clients (to make sure they also still work as expected).

My own quick tests seem to indicate it should be good now...

[2017-12-23 14:27] vitalyisaev2 commented on #267
@svanharmelen thank you, I haven't seen `f-session` branch yet, I'll give it a try in a couple of days...

[2017-12-23 21:21] michaellihs commented on #267
Oh oh - my comment was not intended to trigger so much work... I had a different problem regarding the question how to get a plain Gitlab Docker image configured in such a way that I can use it for end2end testing in Travis CI - therefore the hacky bash solution was fine... but it's great that you provide a way to do this through go-gitlab now, this offers me the possibility to login to Gitlab wit

[2017-12-23 21:41] svanharmelen commented on #267
No worries... I’ve looked at this a little while ago (when this issue was opened), but stopped when I found it to become too ugly.

So your comment only triggered me to look at that commit again and think about the options.

So it wasn’t that much work to be honest, and I guess it adds some value. So all is good :+1:

[2017-12-26 10:42] humboldt-xie opened #296 "oauth no need Bearer string front on access_token"
req.Header.Set("Authorization", c.token)

[2017-12-26 10:46] humboldt-xie commented on #296
i had add a pull request https://github.com/xanzy/go-gitlab/pull/297

[2017-12-26 11:08] humboldt-xie commented on #296
i have take a mistake

[2017-12-26 11:08] #296 closed

[2017-12-26 19:41] michaellihs commented on #267
Hm - regarding the title of the issue, I have to admit that I was expecting a little "extra functionality" in the `f-session` branch: what is implemented now is, that I can login the client with username and password. But what I think is still missing, is that I can generate an access token with the library. So I don't know whether the second part was left out intentionally or just isn't implement

[2017-12-26 20:01] svanharmelen commented on #267
I was thinking about adding this API endpoint to the package: https://docs.gitlab.com/ce/api/users.html#create-an-impersonation-token

When being able to use the package with username and password, then you can create a token using a stabdard API call.

Together that should solve this issue, right?

[2017-12-26 21:17] michaellihs commented on #267
Perfect - I had this on my "missing features" list, but didn't get the point, that one can use this as an API token as well. If I find some time, I can add the impersonation token endpoint(s).

[2017-12-26 21:22] michaellihs commented on #216
Think this one should be fixed by !288

@svanharmelen think you can close this issue / mark it as resolved

[2017-12-26 23:39] michaellihs commented on #267
@svanharmelen I tested your new basic auth client via

[code]

The first (`GET`) request `user, _, err := gitlabClient.Users.CurrentUser()` is working as expected (which means that the user is successfully logged in), but the second request gives me a strange error in the `gitlab-rails/production.log`:

[code]

My assumption was, that every API request that is session authenticated needs to pass a

[2017-12-27 00:21] svanharmelen commented on #267
Oh, that’s a shame (that all session based API calls require an updated CSRF token)... I was under the impression it was only needed when POSTing to website endpoints (so everything not starting with https://gitlab.com/api/v4).

In this case I again very much doubt if we should this at all. It’s just plain hacking around the API, instead of using the API. And this is suppose to be an API client...

[2017-12-27 00:23] svanharmelen commented on #216
Fixed in PR #288. Thanks @michaellihs!

[2017-12-27 00:23] #216 closed

[2018-01-02 15:57] svanharmelen commented on #267
Thought about it, but unless someone else comes up with a proper solution I don't think this code should be added to `go-gitlab`. So closing this one for now...

[2018-01-02 15:57] #267 closed

[2018-01-05 04:16] zaquestion commented on #240
@gjnoonan are you still working on this? If not would you mind pushing up what you've got? I'm thinking about finishing it up to use in [lab](https://github.com/zaquestion/lab)

[2018-01-05 09:01] #233 closed

[2018-01-06 17:55] jakubknejzlik commented on #117
Assuming from this source code:
https://github.com/xanzy/go-gitlab/blob/master/gitlab.go#L428

The XPage is populated from `Link` header which is in format:
[code]
So if theres no such link with `rel="next"` the NextPage *should* be 0.

[2018-01-06 21:57] zaquestion commented on #233
Unfortunately even url encoding the branch doesn't allow this to work, it seems to be bug/limitation in the Gitlab API. I've opened an issue here: https://gitlab.com/gitlab-org/gitlab-ce/issues/41740

[2018-01-07 06:01] zaquestion commented on #233
@svanharmelen Depending on the response (if any) to that issue, do you think its worth detecting slashes and falling back to `https://gitlab.com/api/v4/projects/<pid>/branches` to mimic the API?

[2018-01-07 07:00] zaquestion commented on #233
false alarm, I'm full of it :sweat_smile:

[2018-01-07 08:27] svanharmelen commented on #233
:+1:

[2018-01-20 07:04] haosheng2015 opened #299 "is something wrong in gitlab.go (function NewRequest)"
I can not get the git project by this package, get error "400 failed to parse unexpected error type: <nil>".
I debugged, and get follow modify:
      gitlab.go  line 343   function  NewRequest
     u.Opaque = c.baseURL.Path + path   => u.Path = c.baseURL.Path + path
then be ok.
my go verison is 1.9.2.
six months ago , I use this package and everything is OK, but today I can not get the git project

[2018-01-20 09:56] zaquestion commented on #299
Hey @haosheng2015 not sure quite what you're seeing, I've had some trouble with getting the URL as a string I'm the past, no functional bugs tho.

That said, [lab](https://github.com/zaquestion/lab) uses this project for quite a bit and have tests against a live gitlab instance.

[2018-01-20 13:12] svanharmelen commented on #299
@haosheng2015 thanks for your report!

Could you maybe create a small code snippet that would generates the error? Would be great if you could write that snippet to use gitlab.com and not a private gitlab installation.

Then we can take it from there by first trying to reproduce the problem. Thx!

[2018-01-20 20:56] rhbvkleef opened #300 "Cannot get coverage of individual jobs"
The GitLab API can expose a coverage number for each individual job. This number should be included in the Jobs struct, and all methods that create it should assign it.

[2018-01-20 22:20] zaquestion commented on #300
Can't seem to find any docs on the format of the coverage blob. Except that it can be `null`.
https://docs.gitlab.com/ce/api/jobs.html
https://docs.gitlab.com/ce/api/builds.html

I'll get something going in gitlab ci, hopefully have something up shortly.

[2018-01-20 22:43] zaquestion commented on #300
Looks likes its `null` or `int`

[code]

[2018-01-21 15:00] svanharmelen commented on #300
Fixed by PR #300

[2018-01-21 15:00] #300 closed

[2018-01-29 12:01] cuotos opened #308 "recursively get all projects in a group"
I'm having issues getting all the projects for a top level group.

Using the api I can get to /groups/<ID>/subgroups and iterate through them until I get to the bottom of the tree.

a. I am unable to get subgroups using the library
b. Is there a better way to be doing this!?

Thanks in advance.

Dan

[2018-01-29 13:05] svanharmelen commented on #308
Hi @cuotos...

I think the best approach is to read the [API docs]() and from there determine which calls you would need to accomplish your goal.

Once you have established that, you can simply look up and use the related functions in this package...

[2018-01-29 13:49] cuotos commented on #308
The api contains "groups/<gid>/subgroups" but the go-gitlab library doesn't implement the /subgroups endpoint.

I'm relatively new to golang but happy to have ago at creating a PR if you fancy casting an eye / feedback on it.

 Its pretty much a clone of groups.go, but contains ListSubgroups(gid, opt, options). I wont be offended if it gets binned off.

Dan

[2018-01-29 14:13] svanharmelen commented on #308
Ah, check... Let me have a look at that one...

[2018-01-29 14:17] svanharmelen commented on #308
Just noticed your (already closed again) PR... I think the method you added should be added to the `groups.go` file as a method of the `GroupService`. Other then that it looks fine I guess 👍

[2018-01-31 22:15] Lorac commented on #240
@zaquestion Which endpoint do you need the most? I probably can write the endpoint you need to most pretty fast.

[2018-01-31 23:30] Lorac commented on #240
@zaquestion  I added a PR. You can look at it if you want.

[2018-02-01 06:46] zaquestion commented on #240
@Lorac thanks! Not familiar with the available endpoints off the top of my head. I'm most interested in thumbs up/down functionality for merge requests.

Will take a look at that PR next chance I get, it's been quite busy.

[2018-02-02 14:59] #240 closed

[2018-02-05 21:47] FlakM opened #314 "Support for complete runners API"
I've noticed some missing endpoints from runners API (ie: [disable runner for project](https://docs.gitlab.com/ce/api/runners.html#disable-a-runner-from-project)).
Am i missing something or are they just not implemented yet?

I'd be happy to contribute ;)

[2018-02-05 22:21] zaquestion commented on #314
@FlakM GitLab updates their API, pretty often, its possibly that somethings are missing in the runners API. Feel free to contribute PRs. @svanharmelen is pretty good about reviewing changes as they come in.

[2018-02-06 08:54] svanharmelen commented on #314
Hi @FlakM!

Like @zaquestion already mentioned, by all means add the missing parts and create an PR for it! PR's are always very much appreciated 👍

Thanks!

[2018-02-07 16:21] JohnnyQQQQ opened #315 "Support for Issue links API"
Currently the Issue links API is not supported.

https://docs.gitlab.com/ee/api/issue_links.html

[2018-02-07 16:38] Lorac commented on #315
@JohnnyQQQQ I'll put a PR asap

[2018-02-08 09:12] #314 closed

[2018-02-08 19:47] #315 closed

[2018-02-08 23:19] Lorac commented on #250
@etsrepo @svanharmelen Working on it!

[2018-02-09 00:22] Lorac commented on #250
@svanharmelen One question here... I've put `GET /users/:id/events` `GetUserContributionEvents` inside the `users.go` file. I feel that's fine.

What about the `GET /events` endpoints? Which is the same as the other one but for the current logged user.

And the other one is project scoped `GET /:project_id/events` `projects.go` ?

[2018-02-09 05:49] zaquestion commented on #250
@Lorac, pretty sure practice here is to put all of this in an `events.go` as an EventService. This API is meant to be laid out matching the gitlab docs (even over the REST paths) to make the functionality discoverable when coming from the GitLab docs.

At least that's the understanding I have... I'm just a guy trying to help @svanharmelen on the other side of the clock :D

[2018-02-09 06:14] etsrepo commented on #250
@Lorac I have a working but incomplete EventService code, I can share if you want.

[2018-02-09 06:19] etsrepo commented on #250
https://github.com/etsrepo/go-gitlab/blob/master/events.go

[2018-02-09 14:20] Lorac commented on #250
I need to do some live testing before starting a PR, but here is it

https://github.com/Lorac/go-gitlab/commit/abf2e628c71c4e48e3eaabba4d2a45abe10f976d

[2018-02-09 21:43] Lorac commented on #250
@etsrepo Thanks, I copied over some of your code over in my commit.

[2018-02-10 00:40] Lorac opened #320 "Missing paging option on Award Emoji API"

[2018-02-10 08:25] #320 closed

[2018-02-10 08:32] svanharmelen commented on #299
@haosheng2015 would be great if you could send an example for us to test this with. If not, then I'm inclined to close this issue as I cannot seem to be able to reproduce your issue myself...

Thanks!

[2018-02-10 08:36] svanharmelen commented on #308
This one is fixed by PR #309

[2018-02-10 08:36] #308 closed

[2018-02-10 08:48] svanharmelen commented on #250
Again thanks for your help @zaquestion! I really appreciate your efforts!

[2018-02-10 16:42] Lorac opened #323 "Add `go tool vet .` to the CI"
It could help to detect some errors that we could miss when reviewing code.

If the commiter isn't using the tool he might miss some suspicious code. Like not using the correct `Printf` arguments and such.

What do you think?

[2018-02-10 18:17] svanharmelen commented on #323
No need to do this... From Go 1.10 forwards, `go test` will also check/run `go vet`. So this will be inherently added when we add Go 1.10 to our Travis file 👍

[2018-02-10 18:17] #323 closed

[2018-02-10 18:23] #250 closed

[2018-02-11 08:29] #299 closed

[2018-02-11 08:30] haosheng2015 commented on #299
thanks for guidance

[2018-02-11 18:35] Lorac commented on #243
@sprotest I think when you do your API call from your browser if the custom_attribute does not exist ( was not created by an admin ) it will by default list all projects.

If you are logged in your instance it will list all of the projects that match that search and if you are an admin you will all public/internal/private projects. When you sign out and open a new tab and do the same call, you'll

[2018-02-19 00:52] cdaigle opened #336 "ListLabels in labels.go does not accept ListOptions, cannot deal with pagination"
We work with a large number of labels and need to be able to pass in pagination options to ListLabels.   From what I can see the ListLabels function calls s.client.NewRequest which accepts a ListOptions but it is hardcoded to nil.  Can we update ListLabels to take in a listOptions and pass it through?

[2018-02-19 03:01] Lorac opened #338 "Add pagination the result on a diff commit"
For now, it seems impossible to paginate this endpoint: https://docs.gitlab.com/ce/api/commits.html#get-the-diff-of-a-commit

I feel that it should be possible when you have more than 20 files in the diff.

I opened an issue with gitlab https://gitlab.com/gitlab-org/gitlab-ce/issues/43370

[2018-02-19 10:08] #230 closed

[2018-02-19 10:13] svanharmelen commented on #338
@Lorac not sure if we need this issue open in here? It's a Gitlab thingy right? So I prefer to close this one unless there is a clear depending open action for `go-gitlab`?

[2018-02-19 14:26] Lorac commented on #338
You can close, https://github.com/xanzy/go-gitlab/pull/341/files#diff-297afcd71fc11b3943eda57d4cb629dfR211

You added it :) But it won't work until https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/17203 is released.

[2018-02-19 15:59] svanharmelen commented on #338
Check... Thanks!

[2018-02-19 15:59] #338 closed

[2018-02-20 09:15] #336 closed

[2018-02-20 11:44] Lorac opened #346 "Rate limitation"
I was trying to cause a rate limitation error, and it seemed impossible. Apparently looking at the documentation, it's 10req/s. I think it's only unauthenticated requests???

We should return an error based on that if it happens or we prevent the call to the api.

There are multiple headers associated with it

[code]

We could, in theory, based the on the last query know in advance if the next one

[2018-02-20 13:49] svanharmelen commented on #346
Currently we will return the rate limit error that Gitlab returns (that is, I assume it does indeed generate an error for that). But I agree that preventing that you would hit the rate limit would be a nice feature.

Looking at how [`go-github`](https://github.com/google/go-github/blob/master/github/github.go) handles rate limiting, it does seem to require some new moving parts and additional logi

[2018-02-20 15:42] cdaigle commented on #336
That was fast, thanks for the quick turnaround!

[2018-02-21 02:15] Lorac commented on #117
@svanharmelen I guess we could close this one?

[2018-02-21 04:20] Lorac commented on #346
I started something, but then while testing it ( trying to bust the API limit ), I think I found a bug on the gitlab side for rate-limitation.

Tell me what you think, I wrote this simple loop :
[code]

I compile, run it...

[code]
You can see 600, 5, 595 these are the rate limitation headers. So far so good, it goes up to around 400 observed requests.

Now I start my program in two separate conso

[2018-02-21 04:41] zaquestion commented on #346
yeesh, thats hard to believe, hopefully its just something we're doing. Though it seems like a possible error case if they aren't synchronizing that counter properly. Would suggest checking their issue tracking and if nothings there maybe formalizing the test (like a gist they can just run) and filing a bug. Would be happy to double check your work to avoid possible :egg: :man_facepalming:

[2018-02-21 08:38] deimosfr opened #348 "ListPipelineJobs 401 Unauthorized"
Hi,

I'm trying to deploy a pipeline job, for that, I'm using this code:

[code]

The error message I got is:
[code]
The pipeline creation is ok, but I'm not able to get the job because of the authorization.
I tested with curl commands, and it works, I don't see what's wrong. Any help would be appreciated.

Thanks

[2018-02-21 08:44] svanharmelen commented on #117
I agree... I'll close this one for now. Of course it can be reopened or a new issue can be opened if any additional questions pop up. Thx!

[2018-02-21 08:44] #117 closed

[2018-02-21 09:38] svanharmelen commented on #346
I can observe the same (more or less) behaviour with this one-liner:

[code]

I have no clue how it is supposed to work, but it looks like there isn't much rate limiting going on. According to the docs (hard to find and now very clear) it seems the limit should be max 10 req/sec per IP address...

[2018-02-21 13:35] zaquestion commented on #348
@deimosfr I've successfully been using that endpoint for a new feature in one of my projects. If it helps here's the code https://github.com/zaquestion/lab/blob/ci/internal/gitlab/gitlab.go#L354

Would suggest looking at the returned response struct (second return arg) and making sure the request matches what you'd expect.

[2018-02-21 13:44] deimosfr commented on #348
Thanks for the example @zaquestion, I'll take a look and keep you updated.

[2018-02-21 18:20] deimosfr commented on #348
I looked at the answer, the target URL is good (project id and pipeline id is correct). I see the header set with token. I see every required stuffs that are requested when doing it with curl. I looked at your code as well and we are doing the same thing. However you are listing pipelines before (ListProjectPipelines). Is it mandatory to perform this action before ?

[2018-02-21 23:01] zaquestion commented on #348
@deimosfr I don't believe so, I'm only doing that because I need to search for a specific pipeline

[2018-02-22 04:10] Lorac commented on #348
@deimosfr I tried a few things. One way I was able to replicate by having an empty `PRIVATE-TOKEN` so the header is there but no value.

Maybe `viper.GetString("gitlab_token")` returns an empty string? Try passing a hardcoded private token in there and test it out.

Most of the time the 401 is related to the private-token.

I was able to replicate the same result with https://www.getpostman.com/.

[2018-02-22 04:13] Lorac commented on #346
I posted an issue on gitlab. https://gitlab.com/gitlab-org/gitlab-ce/issues/43456

Getting no attention so far.

[2018-02-22 20:59] deimosfr commented on #348
I've found the issue. I though pipeline token was the same as the private token and I was using the private for everything. Thanks for you help :)

[2018-02-22 20:59] #348 closed

[2018-03-17 21:23] nogs opened #356 "VisibilityValue consistency"
Just wondering if there is any reason why VisibilityValue is handled the same in all type definitions which use it.

Just a quick search, https://github.com/xanzy/go-gitlab/search?utf8=✓&q=VisibilityValue&type=, shows that event_types and projects define it as Visibility VisibilityValue, whereas groups, snippets and project_snippets define it as Visibility *VisibilityValue.

Should they be handled

[2018-03-17 21:43] svanharmelen commented on #356
Hi @nogs, the difference is related to what the structs are used for. The structs that are used to unmarshal responses don't use pointers, struct used to define request options do.

In short this is because in Go all types have a zero value. So when you want to make an API call to update a group description, you want that field to be the only field/value send. When using pointers the zero value is

[2018-03-17 21:51] nogs commented on #356
OK, makes sense, was just a bit confusing when trying to get something working the other week.  Will have another look at the code I have and see if I can find a more concrete example, but will close this for now.

[2018-03-17 21:51] #356 closed

[2018-03-17 23:33] Bouwdie commented on #229
I tried to upload a file and a json part, but no luck.

when we use form fields instead of json it does work (expected).

gowise we sould be looking at something like this then :crying_cat_face:

`body := &bytes.Buffer{}
writer := multipart.NewWriter(body)
part, err := writer.CreateFormFile("avatar", filepath.Base(path))
if err != nil {
	log.Fatal(err)
}
_, err = io.Copy(part, file)

writer.WriteF

[2018-03-19 16:26] svanharmelen commented on #229
Instead of the line `req, err := http.NewRequest("POST", uri, body)` you could something like this instead:

[code]

So first create a new request (like we currently do for every API endpoint) and then set the body to the created multipart...

[2018-03-27 12:45] Dbzman opened #362 "Tags API missing releases"
Hey there,

I just noticed that creating and updating a release is missing from the tags api:
https://docs.gitlab.com/ce/api/tags.html#create-a-new-release
https://docs.gitlab.com/ce/api/tags.html#update-a-release

Would be very handy to have :)

Cheers

[2018-04-03 14:11] johanbrandhorst opened #366 "Support listing all merge requests against a project milestone"
Hi,

I looked through the code and couldn't find the project milestone merge requests list implemented, so I'm raising this issue to track the implementation of this. I'll take a stab at implementing it next :).

[2018-04-03 14:17] johanbrandhorst opened #367 "Support group milestone API methods"
It seems we don't have support for any of the methods listed on https://docs.gitlab.com/ce/api/group_milestones.html#get-all-merge-requests-assigned-to-a-single-milestone. I will take a stab at implementing this after implementing #366.

[2018-04-03 15:50] johanbrandhorst opened #369 "Delete Project Milestone method missing"
The documentation lists the ability to delete a project milestone: https://docs.gitlab.com/ce/api/milestones.html#delete-project-milestone. This does not appear to be implemented currently. This issue should track the implementation of this method.

[2018-04-04 01:29] brendano86 opened #370 "Add support for new project import/export API"
GitLab recently released an API to import/export projects.

Proposal would be to add support to `go-gitlab` for this: https://docs.gitlab.com/ee/api/project_import_export.html

[2018-04-04 08:35] svanharmelen commented on #370
Not sure if/when I have time for this myself, but seems to me we should indeed add support for this API. Of course a PR adding this is very welcome and appreciated!

[2018-04-04 08:52] #366 closed

[2018-04-04 10:33] #367 closed

[2018-04-07 04:01] Lorac commented on #369
@svanharmelen I started implementing it, but I saw that `group_milestones` and my `project_milestones` would pretty much duplicate code. The only difference is the URL We could unify the code under `milestones.go`, so we can do something like :

[code]

What do you think?

[2018-04-07 07:24] johanbrandhorst commented on #369
I actually think we intentionally duplicate a lot of similar code in order to make changes down the line easier. I could be wrong though.

[2018-04-09 08:16] svanharmelen commented on #369
@Lorac I tend to agree with @johanbrandhorst on this one. We could save a few LoC here, but since we only talk about a couple of lines I don't think it adds much value.

But to be honest, I'm fine either way. Your proposed solution also looks clean and simple. So I'll leave it up to you :wink:

[2018-04-16 11:41] #369 closed

[2018-04-17 23:31] DanMayor commented on #315
Is there documentation that shows how to use this package?  Such as for ListIssues, what are opt and options supposed to be?

[2018-04-18 06:49] svanharmelen commented on #315
@DanMayor the answer is in both the code of this package and the GitLab docs. There are also a few [examples](https://github.com/xanzy/go-gitlab/tree/master/examples) that show the basic way to use this package.

Specifically for the [ListIssues](https://github.com/xanzy/go-gitlab/blob/master/issues.go#L124-L141) call, you can check the related [options](https://github.com/xanzy/go-gitlab/blob/mas

[2018-05-02 10:24] zizhongwei opened #385 "Support OAuth2 with Resource Owner Password Credentials"
Does the clitent support OAuth2 with Resource Owner Password Credentials?

[2018-05-03 18:38] svanharmelen commented on #385
Hi @zizhongwei! I'm not sure about that... The client does support OAuth token, but I'm not sure what `with Resource Owner Password Credentials` means in this case?

[2018-05-04 05:54] zaquestion commented on #362
@Dbzman @svanharmelen  looks like support for this was added in #373, can we close out this issue?

[2018-05-04 07:41] Dbzman commented on #362
@zaquestion Fine for me. We've been using it for a couple of weeks already. Works great! :)

[2018-05-04 07:41] #362 closed

[2018-05-07 01:16] zizhongwei commented on #385
Hi~,in GitLab Documentation：https://docs.gitlab.com/ee/api/oauth2.html ，GitLib Supported  Resource Owner Password Credentials(use username&password) like this:
![image](https://user-images.githubusercontent.com/12456254/39680743-b53e5d9c-51d6-11e8-90e3-b276ab2ac011.png)
So dose the client supported Resource Owner Password Credentials(use username&password)?

[2018-05-08 10:19] lowjoel opened #390 "ListCommits with non-Null Since/After in v0.10 not in request"
After d8a6b1518d2ffaddbb2b6bf422ac1204f4a056a4 was applied, my ListCommits calls seem to return all commits instead of the Since/After range.

I've traced into the API call and I see that the Since/After fields are missing from the query string. I'm not entirely sure what the fix is, or if it belongs in this library or in the Google go-querystring library.

[2018-05-08 10:26] lowjoel commented on #390
So it seems we must have google/go-querystring@53e6ce116135b80d037921a7fdd5138cf32d7a8a. My repository has that pinned to 5 commits before. So this doesn't seem like it's a problem with this go-gitlab.

Is there a way to specify dependencies so Glide (or dep) will warn when the version constraints don't match?

[2018-05-08 10:28] lowjoel commented on #390
Quick Googling makes it seem like it's not possible. Hopefully this issue will bubble up in subsequent Google searches.

Thanks @svanharmelen!

[2018-05-08 10:30] svanharmelen commented on #390
The general consensus is to not do vendoring for packages/libraries, so indeed I don't think there is a way to do it. But hopefully this issue will help for people searching about it and maybe I can put something in the README.md that points this out. Guess that should help as well.

[2018-05-08 14:35] lowjoel commented on #390
Yeah, vendoring libraries is a bad idea. Hopefully this issue gets found when people do a search. I'll close it for now.

[2018-05-08 14:35] #390 closed

[2018-05-10 13:14] tinyzimmer opened #391 "Creating a gotest framework"
I saw in the README you are hoping to get some tests going eventually, and I could tell the pretty glaring complexity in how could you test throw-away gitlab environments not on your workstation or using the managed service.

So I tinkered with Travis-CI and Docker-Compose, and I have something that might intrigue you. Within the build environment a docker container of gitlab-ce is spun up using O

[2018-05-10 15:28] svanharmelen commented on #385
@zizhongwei this should now be possible using the `NewBasicAuthClient`.

[2018-05-10 15:28] #385 closed

[2018-05-10 15:32] svanharmelen commented on #391
Hi @tinyzimmer! This sounds like a really good plan 👍

I do notice that you only spin up one container, so wouldn't just `docker run ...` work as well? And it so happened that there was an open issue for using this package with a username/password so I was just wrapping up adding that to the package (just merged it).

So now you can just create a new client with username/password and it will manag

[2018-05-10 15:35] svanharmelen commented on #265
@LiangXugang this should now be possible using the `NewBasicAuthClient`!

[2018-05-10 15:35] svanharmelen commented on #267
@LiangXugang this should now be possible using the `NewBasicAuthClient`!

[2018-05-10 15:48] tinyzimmer commented on #391
Can definitely just use docker run. That's how I was initially tinkering with it at home. Just think the compose file looks cleaner is all and is baked into travis so why not 😛

[2018-05-10 20:13] svanharmelen commented on #391
Yeah, agree on that...

[2018-05-11 13:44] tinyzimmer commented on #391
I'll get a fork goin over the weekend

[2018-05-13 12:44] bzon commented on #391
Does this mean that the existing Test suites will poiny the api call to the running local Gitlab?

[2018-05-15 05:50] relax-admin opened #399 "golang.org/x/oauth2"
Is it possible to reference github's class library and use golang's class library to cause us to fail to download in China，I cannot go get golang.org/x/oauth2

[2018-05-15 14:14] svanharmelen commented on #399
Hi @relax-admin! I'm not sure I understand what you mean with `reference github's class library and use golang's class library`?

Do you mean if we could build our own oauth package using only Golang standard library packages instead of using `golang.org/x/oauth2`?

[2018-05-15 16:39] pityonline commented on #399
@relax-admin It is OK, I did this very often.

@svanharmelen Because golang.org is almost blocked in China, so we need to reference it's mirrored repository on GitHub to use the libraries.

For example, golang.org/x/oauth2 is mirrored at https://github.com/golang/oauth2 on GitHub. We need to clone it from GitHub to $GOPATH/src/golang.org/x/oauth2, to make it accessible in import statements.

[2018-05-16 05:27] relax-admin commented on #399
@pityonline
We may be able to solve this problem when we run the code locally, but when we publish it, when we compile the program in jenkins, we will report an error.

Error content：
Step 2/15 : RUN     go get github.com/fatih/structs     &&  go get github.com/xanzy/go-gitlab
 ---> Running in 45da8514040d
[91mpackage golang.org/x/oauth2: unrecognized import path "golang.org/x/oauth2" (https fetc

[2018-05-16 22:26] jayschwa commented on #399
If you're using a tool like [`dep`](https://github.com/golang/dep), adding this to your `Gopkg.toml` might help:
[code]

[2018-05-16 22:32] jayschwa opened #400 "Provide access to raw ErrorResponse body"
`ErrorResponse.Message` isn't formatted in a way that is useful to me. It's not very human-readable, and it's not encoded in a standard format either. I would like to have access to the raw JSON. Unfortunately, it can no longer be obtained from the `ErrorResponse.Response.Body` because it has already been read. I propose saving the raw JSON into a new field on the `ErrorResponse` so that it is acc

[2018-05-17 02:07] pityonline commented on #399
The problem seems to be here:

* Even you use mirrored repo of golang.org on GitHub, the source still asks to import golang.org packages.

[code]

* There are still some `x/* redirects` to golang.org, [check this comment](https://github.com/golang/lint/issues/397#issuecomment-384001884).

[code]

[2018-05-17 06:17] zaquestion commented on #400
@jayschwa just to clarify, `[]interface{}` and `map[string]interface{}` aren't useful to you? When you print maps or strings in go (without something like spew) they can looks pretty hard to read for humans, but the structures should be easy to work with. These are the types `ErrorResponse.Message` can be https://github.com/xanzy/go-gitlab/blob/master/gitlab.go#L707

[2018-05-17 10:43] relax-admin commented on #399
@jayschwa
I tried dep init and found it would still time out
Importing configuration from govendor. These are only initial constraints, and are further refined during the solve process.
Importing configuration from glide. These are only initial constraints, and are further refined during the solve process.
Importing configuration from glide. These are only initial constraints, and are further refi

[2018-05-18 01:50] zaquestion commented on #400
@jayschwa my bad, probably shouldn't have been reading code in the middle of the night. That function does just return a string as you said, I thought it returned the types it was switching on for some silly reason.

In that case, thoughts on putting the raw response on an ErrorResponse.Raw field. You'd have to type assert it out to use it. For example:
[code]

Not sure how I feel about the field

[2018-05-18 03:36] jayschwa commented on #400
I think `ErrorResponse.Body` accurately describes the hypothetical field.

[2018-05-21 10:53] svanharmelen commented on #399
@relax-admin do I understand it correctly that you now managed to download and use the package?

If not, could you try it again using this command: `git clone https://github.com/golang/oauth2 $GOPATH/src/golang.org/x/oauth2`

This should checkout the needed code into the correct (expected) directory. Let me know if it works for you now and if we can close this issue.

[2018-05-23 09:53] nlamirault opened #406 "Project not found on MergeRequest event"
i try to use go-gitlab to create a simple bot.
i receive the MergeRequestEvent, then i try to find the project associated like that :

[code]

On the output logs i've got :

[code]

But if i make the request on my browser it works :
https://gitlab.sys.op.mbs/api/v4/projects/atmos%2Flycos/merge_requests/5 :

[code]

Any idea ?

[2018-05-23 09:57] svanharmelen commented on #406
Does the bot use credential or a token that has access to the repo?

[2018-05-23 10:19] nlamirault commented on #406
I create a Personal Access Token from my profile page.

[2018-05-23 10:26] svanharmelen commented on #406
I think this part is wrong:

[code]

Think it should just be:

[code]

The client takes care of escaping it for you, so now it's probably escaped twice.

[2018-05-23 10:30] nlamirault commented on #406
Thanks. It works fine. New label is added.

[2018-05-23 10:30] #406 closed

[2018-05-27 23:12] bzon opened #407 "ListGroupProjectOptions should be created from ListProjectOptions, not ListOptions"
It should be like [ListProjectOptions](https://github.com/xanzy/go-gitlab/blob/master/projects.go#L183).

Reference:

* ListGroupProjectOptions: https://godoc.org/github.com/xanzy/go-gitlab#ListGroupProjectsOptions
* Gitlab API doc: https://docs.gitlab.com/ce/api/groups.html#list-a-group-39-s-projects
* Gitlab API doc: https://docs.gitlab.com/ce/api/projects.html#list-all-projects

[2018-05-27 23:14] bzon commented on #391
In our gitlab-cli project, https://github.com/devopsctl/gitlabctl, we use a local gitlab instance to test our commands. This way, we are doing a unit test and some sort of integration test as well.

We have testdata, curl scripts that populates our Gitlab instance. See the `.travis.yml` for reference.

[2018-05-28 09:38] #407 closed

[2018-05-30 06:57] bzon opened #409 "CreateProjectOptions.MergeMethod should have it's own Constant Type"
Currently `CreateProjectOptions.MergeMethod` is a string when it should be the constants:

* merge
* ff
* rebase_merge

This is documented in https://docs.gitlab.com/ce/api/projects.html#project-merge-method

It will be like the `VisibilityValue` that the package currently have.

For reference try the below curl command:

[code]

I will send a PR after testing locally.

[2018-05-30 08:12] #409 closed

[2018-05-31 16:13] bzon opened #411 "ListProjectMemberOptions and ListGroupMemberOptions should have the same type"
Problem:

* [__ListProjectMembersOptions__](https://godoc.org/github.com/xanzy/go-gitlab#ListGroupMembersOptions) is its own struct type and [__ListGroupMemberOption__](https://godoc.org/github.com/xanzy/go-gitlab#ListProjectMembersOptions) is a [__ListOption__](https://godoc.org/github.com/xanzy/go-gitlab#ListOptions) type.
* ListGroupMemberOption is also missing a Query field.

Proposed Solution

[2018-05-31 16:37] svanharmelen commented on #411
If `ListGroupMemberOptions` needs more fields, then I suggest to just create a dedicated struct for it. So something like:

[code]

Creating a 3rd struct that then can be used by two others doesn't feel right to me. Even if the structs are actually the same, I prefer to just have 2 separate ones in that case.

[2018-05-31 17:21] bzon commented on #411
@svanharmelen sounds fair to me.

[2018-06-01 06:36] #411 closed

[2018-06-02 07:41] relax-admin commented on #399
@svanharmelen
Great, it can solve the problem. This is a genius idea. You seem to give us a new direction. It is a good idea to replace go get with git clone.
Dockerfile:
[code]
Ci:
[code]

[2018-06-02 08:05] relax-admin commented on #399
@svanharmelen
Thank you very much, this issue should be closed

[2018-06-02 08:46] svanharmelen commented on #399
Glad to hear this solves the problem!

[2018-06-02 08:46] #399 closed

[2018-06-04 05:37] bzon opened #414 "Groups.TransferGroup 'project' parameter should be an 'interface{}' not 'int'"
Current code: https://godoc.org/github.com/xanzy/go-gitlab#GroupsService.TransferGroup

[code]

API doc: https://docs.gitlab.com/ce/api/groups.html#transfer-project-to-group

[2018-06-06 17:32] Lorac commented on #346
This issue just got some attention on Gitlab side. Hopefully, we can see what is wrong with their HAProxy or maybe we did something weird...

[2018-06-08 23:45] rhd opened #420 "List merge requests that will close issue on merge"
Hi,

I'd like to request support for [List merge requests that will close issue on merge](https://docs.gitlab.com/ce/api/issues.html#list-merge-requests-that-will-close-issue-on-merge)

BTW, this is an amazing library - thank you for writing it :+1:

[2018-06-11 10:31] svanharmelen commented on #414
Fixed by PR #415

[2018-06-11 10:31] #414 closed

[2018-06-11 10:35] #420 closed

[2018-06-11 10:44] svanharmelen commented on #420
Should be fixed by PR #421

[2018-06-11 10:45] svanharmelen commented on #400
Should be fixed by PR #422

[2018-06-11 10:48] #400 closed

[2018-06-20 08:57] rawlingsj opened #424 "404 creating webhooks when using `owner/repo` as project ID rather than the ID integer"
Trying to create a webhook on a repo hosted at https://gitlab.com/ fails because the URL is always encoded meaning when we use `owner/repo_name` as the project id we loose the %2F escaped value resulting in a 404.

I tried a few things out and the only thing that seems to work is after following this issue https://stackoverflow.com/questions/20847357/golang-http-client-always-escaped-the-url

[cod

[2018-06-20 09:06] svanharmelen commented on #424
Hi @rawlingsj! This is actually already done in the `NewRequest` method: https://github.com/xanzy/go-gitlab/blob/master/gitlab.go#L509 And on line 521 you can see that the variable `u` is assigned to the request. So what you are doing shouldn't be needed.

Can you share some more code or an example of when it doesn't work?

[2018-06-20 13:42] rawlingsj commented on #424
Hi @svanharmelen ah ok, that's strange then as I wasn't able to create webhooks without setting that `Opaque` value.

Here's what we're doing:

[code]

Calling https://github.com/xanzy/go-gitlab/blob/master/projects.go#L782 and in turn calls that `NewRequest` method you mentioned.

I'm travelling today and tomorrow but will try and put a test case together that shows for real what we're doing.  FW

[2018-06-27 00:52] rhd opened #425 "assignee_ids mismatch"
Hi!

According to [the edit issues api](https://docs.gitlab.com/ce/api/issues.html#edit-issue) there should be an `assignee_ids` field. You code shows:

[code]
There appears to be a mismatch.

Thank you!

[2018-06-27 07:45] #425 closed

[2018-06-27 14:35] rhd commented on #425
Thank you for the quick fix!

[2018-06-28 19:19] lily-mara opened #427 "Cannot use UpdateIssue to remove all issue assignees"
Since `UpdateIssueOptions` defines `AssigneeIDs` as a `[]int`, and marks it as `omitempty`, it is omitted from the JSON request if an empty array is passed into it. The Gitlab API docs describe the field as follows:

Based on the current definition of `UpdateIssueOptions`, it is impossible to unassign all assignees. You cannot remove the `omitempty` item, or every call to `UpdateIssue` will remove

[2018-06-28 19:35] svanharmelen commented on #427
Thanks for the report @natemara! Did you also try to give it a `[]int{0}` as value? No idea, but maybe worth checking...

[2018-06-29 09:32] ball6847 opened #428 "ListTagsOptions should has Orderby and Sort"
I want to ListTags and order them by name but can not find any way to make that happen

From gitlab api referene, list tags also accept `order_by` and `sort` parameter, so I think `ListTagsOptions` should also accept `OrderBy` and `Sort`

[code]

reference: https://docs.gitlab.com/ce/api/tags.html#list-project-repository-tags

[2018-06-29 13:44] svanharmelen commented on #428
Seem like the right solution @ball6847! Are you up for making a PR for this?

[2018-06-29 14:33] ball6847 commented on #428
My only concern is breaking changes, since this can break someone code.

But if you are fine with this, I will make a PR.

[2018-06-29 14:37] svanharmelen commented on #428
As far as I can see this is not a breaking change. People that currently use the `ListTagsOptions` struct can keep doing that without any changes when you change it from:

[code]

to:

[code]

As the `ListOptions` struct is embedded, it shouldn't change the usage.

So by all means, go right ahead!

[2018-06-30 09:00] ball6847 commented on #428
@svanharmelen I'm quite new to Go lang and never know about embedded struct before, so thank you about it.

I tried what you said. but  cannot make the test pass.

[code]

[code]

any suggestion ?

[2018-06-30 10:53] svanharmelen commented on #428
Maybe you can open a PR? Then I can see your code and test myself as well...

[2018-07-07 22:32] revengel opened #430 "Cannot do request to api v3"
Cannot do request to api v3. Only v4 hardcoded.

[2018-07-08 06:39] svanharmelen commented on #430
That is correct and as expected. Please see the note in the readme for more details.

[2018-07-08 06:39] #430 closed

[2018-07-12 11:44] 5bug opened #432 "Please add a API in commits.go"
hello!
I want to use list-merge-requests-associated-with-a-commit API, but I didn't find it in commits.go
Can you add it, please? Thank you very much.

reference:https://docs.gitlab.com/ce/api/commits.html#list-merge-requests-associated-with-a-commit

[2018-07-18 14:43] ecornelisse opened #433 "pagination"
Most endpoints of gitlab use pagination so your `ListProjects` call returns only 20 results. How should i handle pagination with this package?

[2018-07-18 21:56] Lorac commented on #433
You can read `TotalPages` from the `Response struct` [here](https://github.com/xanzy/go-gitlab/blob/fb3ece09ef3e80cfa5c1e52dc75fcfb56c12e026/gitlab.go#L558)

From there you can loop for with the `ListProjectsOptions` by passing the `Page` number to the `ListProjects` call.

There is the `PerPage` attribute that you can modify, but I think it's cap to 20 results max.

[2018-07-18 21:58] Lorac commented on #433
@svanharmelen Might be a good idea to add an example of pagination in the directory examples. What do you think?

[2018-07-19 05:14] svanharmelen commented on #433
Yeah, that would be nice/helpful @Lorac :+1:

[2018-07-19 14:17] ecornelisse commented on #433
should it be something like this?:
[code]

[2018-07-19 16:06] Lorac commented on #433
@ecornelisse I added a pull request, that is my understanding of how pagination is working. I might be wrong tho.

[2018-07-19 20:37] #433 closed

[2018-07-23 15:57] RoValentim commented on #370
I need it too @brendano86, did you start to make this methods?

If yes, how can I help you?

[2018-07-27 09:02] Colstuwjx opened #437 "Missing straight option in repositories compare API"
Hi,

it seems that we have missing `straight` option in the repositories compare API, see our code below:

[code]

According to the [API doc](https://docs.gitlab.com/ce/api/repositories.html#compare-branches-tags-or-commits), we might need to add `straight` option.

Thanks!

[2018-08-03 21:25] pmwebster commented on #432
#447 adds this.

[2018-08-03 21:30] #432 closed

[2018-08-03 21:31] pmwebster commented on #437
#448 fixes this.

[2018-08-03 21:32] #437 closed

[2018-08-13 21:44] 7fELF opened #449 "ListProjectContributionEvents fails with 404 error"
`EventsService.ListProjectContributionEvents` is failing  with a 404 error.

The function is calling
`https://gitlab.com/api/v4/000000/events`
instead of
`https://gitlab.com/api/v4/projects/0000000/events`

I can fix it by adding `projects/` in the Sprintf here: https://github.com/xanzy/go-gitlab/blob/af28ecc530599f542dee9a748c4a8e3a22ae4659/events.go#L133

Did I miss something or is this really a

[2018-08-13 21:54] 7fELF commented on #449
I just opened a PR with my fix: #450

[2018-08-14 19:14] #449 closed

[2018-08-22 19:54] Bouwdie commented on #229
So I finally got some time to look into this feature :sake:  The form multipart seems to be an option but a complex one. I find difficulties integrating this in the client NewRequest, which currently passes a simple json body as POST body. To go the form multipart way we have to figure out how to do a multipart post with a JSON and an image part. Or serialize to form values instead of json :thinki

[2018-08-23 14:13] natemara opened #453 "Requests can not go through forward proxy"
I am trying to proxy go-gitlab's requests through a forward proxy in a corporate environment. It seems that this is not possible with the current implementation. The problem is that forward proxies expect absolute URLs to be sent in the request, but because go-gitlab sets an Opaque path with no host part, a relative path is always used. If the `Opaque` property is set on the URL, and a proxy is be

[2018-08-24 17:45] #453 closed

[2018-08-30 07:33] gitlawr opened #457 "Missing 'oldrev' field in merge request event"
In Gitlab merge request events, there's no `synchronize` action like Github. When you update the code or the labels of merge request, a webhook is triggered with the same update action.
Actually there's an `oldrev` field in the payload to distinguish the above cases. It's not obvious in the Gitlab docs though.
It is mentioned in the issue: https://gitlab.com/gitlab-org/gitlab-ce/issues/13545
Or yo

[2018-08-30 10:28] svanharmelen commented on #457
Fixed by PR #458

[2018-08-30 10:28] #457 closed

[2018-08-30 10:29] svanharmelen commented on #428
Fixed by PR #436

[2018-08-30 10:29] #428 closed

[2018-09-04 07:31] lillilli opened #464 "Search coverage"
Search is setting up as false in Readme (coverage), but I found implementation in repo (search.go).

![image](https://user-images.githubusercontent.com/19287534/45016302-e1e91a80-b02c-11e8-97cf-0bff68d32e1d.png)

Is there any needed to change current implementation?

[2018-09-04 07:33] svanharmelen commented on #464
Nice catch, I think it should be set to `true` 👍

[2018-09-04 07:51] svanharmelen commented on #464
Updated the field in the readme...

[2018-09-04 07:51] #464 closed

[2018-09-13 08:59] ecornelisse opened #470 "`remove_source_branch` option for merge requests"
As far as I can see this package does not support the gitlab `remove_source_branch` option on creating a merge request? I cannot find it `CreateMergeRequestOptions`. Am I correct or is there another way to do this?

[2018-09-21 14:09] thib-ack opened #473 "Go 1.7 support ?"
Hello,

I just want to say that since b8189bef4d4ee2b365a2c03a8bc99e4f3600743e the go-gitlab project is not anymore compatible with Go v1.7 because the function url.PathUnescape(string) has been added in Go v1.8

https://github.com/xanzy/go-gitlab/blob/b8189bef4d4ee2b365a2c03a8bc99e4f3600743e/gitlab.go#L503

However, the supported Go versions are not specified anywhere in the readme, so I'm not su

[2018-09-21 15:48] svanharmelen commented on #473
Nice catch @thib-ack! But I'm good with not supporting Go1.7 anymore. I think in general Go developers upgrade reasonably fast, so Go1.7 almost seems ancient :wink:

[2018-09-22 06:13] zaquestion commented on #473
Classically `go-gitlab` has only supported the last 3 versions of go which can be seen here https://github.com/xanzy/go-gitlab/blob/master/.travis.yml#L3 -- tho it's time to update ;)

P.S. @svanharmelen I'm behind too, still haven't adopted modules in lab.

[2018-09-23 16:00] martin31821 opened #474 "Pagination example skips first result page"
When experimenting with the pagination API, I noticed that the pagination API skips the first result page.

I came up with some code like the following:
[code]

[2018-09-24 07:50] svanharmelen commented on #473
I'm closing this one as there are no pending actions/answers for this issue.

[2018-09-24 07:50] #473 closed

[2018-09-24 07:51] svanharmelen commented on #142
I'm going to close this issue as this is a never ending ongoing effort to keep this package in sync with the GitLab API.

[2018-09-24 07:51] #142 closed

[2018-09-24 07:54] svanharmelen commented on #424
Hi @rawlingsj! Did you have time to put a test case together? And/or is this still an issue? Thanks!

[2018-09-24 07:55] svanharmelen commented on #427
Hi @natemara! Did you have a chance to test this, and so is this still an issue?

[2018-09-24 07:55] svanharmelen commented on #470
@ecornelisse can you confirm that field was the field you were missing? And if not, can you give some more details about your issue?

[2018-09-24 07:56] #474 closed

[2018-09-26 13:08] scrobbleme opened #476 "Missing "Unsubscribe" from issues"
Hello,

I can't find the method to unsubscribe from issues:

https://docs.gitlab.com/ce/api/issues.html#unsubscribe-from-an-issue

("Subscribe" isn't available as well)

[2018-09-26 17:59] svanharmelen commented on #476
Hi @scrobbleme! It indeed seems those endpoints are not supported by this package yet.

[2018-09-27 07:37] SeananXu opened #477 "Miss the Changes field of MergeEvent struct in event_type.go"
Cloud you please add this field in the MergeEvent struct in event_type.go? I can use this field to know the gitlab changes in mr event.
![image](https://user-images.githubusercontent.com/26948962/46129980-bd1e4680-c26a-11e8-9ac3-ca125c8084be.png)

#478

[2018-09-27 09:10] #476 closed

[2018-09-27 09:11] svanharmelen commented on #477
Fixed by PR #479

[2018-09-27 09:11] #477 closed

[2018-10-06 14:06] roaldnefs opened #484 "Inherited members through ancestors groups are not listed"
The `ListProjectMembers` and `ListGroupMembers` functions retrieve a list of group or project members viewable by the authenticated user. Returns only direct members and **not inherited members through ancestors groups**. See: [https://docs.gitlab.com/ce/api/members.html#list-all-members-of-a-group-or-project](https://docs.gitlab.com/ce/api/members.html#list-all-members-of-a-group-or-project).

Th

[2018-10-06 14:07] roaldnefs commented on #484
I'm currently working on fixing this issue myself!

[2018-10-08 08:18] #484 closed

[2018-10-11 10:02] SeananXu opened #487 "The Label model in gitlab api is different with the label model in gitlab event"
Label model in gitlab api:
https://docs.gitlab.com/ee/api/labels.html
![image](https://user-images.githubusercontent.com/26948962/46796148-81ad6d00-cd7e-11e8-85e0-20cdee7af115.png)
Label model in gitlab event:
https://docs.gitlab.com/ee/user/project/integrations/webhooks.html#merge-request-events
So the same Label model should not be used in these two places.
![image](https://user-images.githubuse

[2018-10-11 11:02] svanharmelen commented on #487
Guess we either need to add a `Title` field to the `Label` struct or create a specific struct for this.

[2018-10-16 02:40] SeananXu commented on #487
@svanharmelen  lgtm, thank you very much

[2018-10-22 18:09] 0xmohit commented on #427
Specifying `[]int{0}` as value does remove the assignee.

[2018-10-22 18:29] svanharmelen commented on #427
Then I think the only way to solve this is by making this a `*[]int`, but I must admit that feels a bit nasty.

[2018-10-24 09:10] denglitong opened #500 "SetBaseURL use const apiVersionPath, which may be not /api/v4, for example, /api/v3."
As mention above, i encountered that my GitLab Community Edition 8.11.3 only have /api/v3/ and not any /api/v4/ available, so I think it make sense that change const apiVersionPath to var ApiVersionPath in package, so I can configure it outside the package. Should I create a pull request? Thank you very much. :-)

[2018-10-24 09:14] svanharmelen commented on #500
Hi @denglitong! The V3 and V4 APIs have a lot of differences, so just changing the URL would not work for all APIs.

But we still have a branch (`f-api-v3`) for the V3 API that you can (and should) use when targeting V3.

[2018-10-24 09:33] denglitong commented on #500
Thanks, I got it.

[2018-10-24 09:33] #500 closed

[2018-10-25 14:12] BernhardBerbuir opened #501 "Support push rules for projects"
I'm not sure if features of the enterprise edition are in scope of this project, but it would be nice if [push rules](https://docs.gitlab.com/ee/api/projects.html#push-rules) (get, add, edit, delete)  would be supported (like web hooks / project hooks)

[2018-10-25 18:49] svanharmelen commented on #501
Hi @BernhardBerbuir! The `go-gitlab` package definitely supports `ee` features as well.

I don't have much (if any) time to work this one myself, but if anyone is up to add support for the push rule APIs I have no problem with merging that PR 👍

[2018-10-26 00:51] meskio opened #502 "Issue Author and Asgnee missmatch between the json and the struct"
Reading from the [`Issue`](https://godoc.org/github.com/xanzy/go-gitlab#Issue) struct the fields for Author or Asgnees are:
[code]
But checking the actual response from the [gitlab API](https://docs.gitlab.com/ce/api/issues.html) I see:
[code]

Is there any reason for this mismatch? Or am I looking in the wrong place?

[2018-10-26 09:46] svanharmelen commented on #502
Good catch @meskio! Fixed the issue in #503.

[2018-10-26 09:51] #502 closed

[2018-10-30 03:09] yodark1995 opened #505 "About New API Merge Base"
https://docs.gitlab.com/ee/api/repositories.html#merge-base

I want to use this api. Can you support it?

[2018-10-30 11:35] #505 closed

[2018-10-30 12:28] #501 closed

[2018-10-30 14:59] BernhardBerbuir opened #507 "Project push rule: make attributes optional"
Optional attributes are not configured as "omitempty".

[2018-10-30 15:07] #507 closed

[2018-10-31 04:20] 45cali opened #509 "GetUserByName"
Currently the `GetUser` method requires the id of the user. What about a `GetUserByName` method where we can pass in the username instead in case we dont have the id or need to get the id.
[code]

[2018-10-31 07:18] svanharmelen commented on #509
Sure, sounds fine to me.

[2018-10-31 16:01] 45cali commented on #509
Actually I realised the response comes back as a list and this is more a list command with a filter.
Using the `ListUsers` method w/ `ListUserOptions` works fine.

[code]

[2018-10-31 16:02] #509 closed

[2018-10-31 16:02] 45cali commented on #509
Not needed

[2018-11-09 14:15] miekg opened #512 "Approve Merge Request has wrong verb"
Hello,

This code: https://github.com/xanzy/go-gitlab/blob/master/merge_request_approvals.go#L95 is doing a GET, but it needs[*] to be a 'POST'

[*]: https://docs.gitlab.com/ee/api/merge_request_approvals.html#approve-merge-request

[2018-11-09 14:42] svanharmelen commented on #512
Good catch! Fixed in b7192664a3bc1f96889d8756521c1f4037b490d6

[2018-11-09 14:42] #512 closed

[2018-11-09 14:45] miekg commented on #512
excellent!

[2018-11-15 01:28] praneetloke opened #516 "The properties in the GroupMember struct are not in-sync with the API response"
Looks like GitLab has updated the API response. Source: https://docs.gitlab.com/ce/api/members.html. The `email` and `created_at` fields are no longer available and instead `avatar_url` and `web_url` are now returned in the response to listing a group's members.

[2018-11-15 15:56] #516 closed

[2018-11-15 18:41] svanharmelen commented on #516
There's not a real schedule, so mainly when people ask or when I think enough has been changed/added.

So since you asked... v0.11.7 is just released :wink:

[2018-11-17 07:53] 0x-1 opened #518 "json: cannot unmarshal array into Go value of type gitlab.Wiki"
Hey,

I guess something with the new json/unmarshal from #490 does not work for the create/edit wiki api?
error: "json: cannot unmarshal array into Go value of type gitlab.Wiki"

I've run go get -u ./... so all dependencys are up to date and my Go version is 1.11.1

The version #486 on my laptop still works tho. Reseting my pc version to #486 does not solve the problem. I'm confused, did some depe

[2018-11-18 13:46] svanharmelen commented on #518
Hi @0x-1, can you give a small code example and the actual error you are getting? As looking at the source code of `wikis.go` and the Gitlab API I cannot see that would cause any errors here.

When I look beyond the code in `wikis.go` I also see that the same `Wiki` struct is used in `search.go` and it seems the response from those API's is not actually matching the `Wiki` struct. So are you using

[2018-11-19 09:50] killmeplz opened #519 "Duplicated variables in ProjectVariablesService.UpdateVariable"
[code]
You are accepting 2 "key" variables. In function and as a parameter of UpdateVariableOptions.
Can we use just one instead of two?
Does it make sense or am I missing something?

[2018-11-19 10:07] svanharmelen commented on #519
I think you are right @killmeplz, I think this is a bug/error in the code and that the `key` field from the options struct should be removed.

@pmwebster as you added this code, do you agree? I don't have time to test or validate this myself, but it looks like we should remove the `key` field.

[2018-11-19 13:39] pmwebster commented on #519
Absolutely!

Thanks for catching it @killmeplz. I can get a PR together in a little bit, I'm just now waking up for the day.

[2018-11-19 13:44] svanharmelen commented on #519
Ah, time zones 😏 But thanks and no rush @pmwebster!

[2018-11-19 15:16] pmwebster commented on #519
So after waking up a little bit and re-reading, this is actually correct according to the gitlab docs: https://docs.gitlab.com/ee/api/project_level_variables.html#update-variable

The key of the variable can change, so you have to post the old one as well potentially the new one.

I did realize I missed a comment when I was playing with this originally though, pr has been submitted.

[2018-11-19 15:31] svanharmelen commented on #519
I noticed that as well, but in the docs the URL that is used to get that response is this:

[code]

So there the `NEW_VARIABLE` value did not change (and that same name was actually used in other examples as well, like in the create right above the update endpoint).

I'll go ahead and test this against the API in a sec, but I don't think the key is expected (and so used) in the body.

[2018-11-19 15:43] svanharmelen commented on #519
Just confirmed, the `Key` field in the option struct is ignored by the API and so should be removed from the options struct:

[code]

Output:
[code]

[2018-11-19 15:54] pmwebster commented on #519
I tested this against our EE install and had the same output. I wonder if we should submit a bug to gitlab about this? Either way, PR for this client for now #521

[2018-11-19 15:55] svanharmelen commented on #519
I don't think its a bug, so I think we're good 👍

[2018-11-19 15:56] #519 closed

[2018-11-29 15:22] alinadonisa opened #523 "PUT redirects to https not followed"
I have a GitLab instance that is behind an nginx that redirects all HTTP requests to HTTPS.

GET requests seem to work on HTTP, but PUT requests never reach the server.

When I try to edit the access level using the code bellow and HTTP  the method returns no error, and the member field is populated with the existing access level. No update is executed but the requests returns 200
[code]

[2018-11-29 19:16] svanharmelen commented on #523
Hi @alinadonisa! Did you try to exec these API calls with cURL to see if it then works as expected?

These are some basic examples here that should give enough info on how to make the calls you want to test: https://docs.gitlab.com/ce/api/#basic-usage

[2018-11-29 20:49] adrianharabula commented on #523
Hello @svanharmelen . curl calls with -L parameter to follow https redirect works with no problem.

[2018-11-30 08:44] svanharmelen commented on #523
Ok... Another question, how are you creating the Gitlab client?

[2018-12-01 12:32] adrianharabula commented on #523
Here is an example to replicate the problem:
[code]
The above example works if changing gitlab url to https. If using http, program seems to execute fine but permission remains unchanged. On gitlab side no request hits the server (API request not in logs)

[2018-12-21 09:33] xichengliudui opened #531 "Issue creation example"
I want to create an issue now, can you provide an example? If not, I feel very laborious! thanks！

[2018-12-21 10:05] svanharmelen commented on #531
I would suggest looking at the existing [examples](https://github.com/xanzy/go-gitlab/blob/master/examples) for inspiration. The API is very consistent in how it is should be used, so the [project](https://github.com/xanzy/go-gitlab/blob/master/examples/projects.go) example maps pretty wel to how you can create an issue.

And of course there are the [Gitlab API](https://docs.gitlab.com/ce/api/issu

[2018-12-21 10:05] #531 closed

[2018-12-22 06:17] aini207080 opened #533 "Add Support for rebase in Merge Request"
[https://docs.gitlab.com/ce/api/merge_requests.html#rebase-a-merge-request ](url)-> Automatically rebase the source_branch of the merge request against its target_branch，it is supported in the API
I think it's cool，I need this feature. Can you help me add it?
thank you

[2018-12-22 10:02] svanharmelen commented on #533
I think this PR should add support for rebasing MRs: https://github.com/xanzy/go-gitlab/pull/534

[2018-12-22 13:13] aini207080 commented on #533
Wow, thank you very much for responding to my request so quickly. I saw your submission and hope to add it to the new version as soon as possible.

[2018-12-24 10:09] #533 closed

[2018-12-27 11:41] svanharmelen commented on #523
@alinadonisa and @adrianharabula I think I found the root cause this problem.

I finally had some time to test with this and when I did, I noticed that Gitlab uses a 307 status code to indicate a redirect. I looked up the support for that in the Go source code which lead me to this file: https://golang.org/src/net/http/client.go.

If you look at lines 435 to 460 you can see that a 307 or 308 redir

[2018-12-27 11:41] #523 closed

[2018-12-27 11:46] svanharmelen commented on #424
Any updates on this one @rawlingsj? If not I'm going to close this issue before the new year starts :wink:

[2018-12-27 11:46] svanharmelen commented on #518
Any updates on this one @0x-1? If not I'm going to close this issue before the new year starts :wink:

[2018-12-27 11:50] svanharmelen commented on #391
Any updates on this one @tinyzimmer? If looking to do an end-of-year cleanup on stale issues, so if you abandoned this issue I'm going to close it before the new year starts :wink: So please let me know if this is still work in progress. Thanks!

[2018-12-27 11:55] svanharmelen commented on #346
Hi @Lorac! I was just wondering if you think we should still keep this issue open? I'm looking into a little end-of-year cleanup and unless we have an idea what to do with this issue, I think we should close it. What do you think?

[2018-12-27 11:56] svanharmelen commented on #243
Any updates on this one @sprotest? Is this still an issue for you? If not I'm going to close this issue before the new year starts 😉

[2018-12-27 12:59] tinyzimmer commented on #391
Crap. I got busy with a new job a while back and haven't been getting as
much exposure to Gitlab these days. You can probably just close the issue.
My apologies.

On Thu, Dec 27, 2018, 3:50 AM Sander van Harmelen <notifications@github.com
wrote:

[2018-12-27 13:00] svanharmelen commented on #391
No problem at all! Same here actually :wink: Enjoy your holidays!

[2018-12-27 13:00] #391 closed

[2019-01-03 13:50] svanharmelen commented on #424
Closing this for now, feel free to reopen or open a new issue if you want to pick this up again.

[2019-01-03 13:50] #424 closed

[2019-01-03 13:50] svanharmelen commented on #518
Closing this for now, feel free to reopen or open a new issue if you want to pick this up again.

[2019-01-03 13:50] #518 closed

[2019-01-03 13:52] svanharmelen commented on #243
Closing this for now, feel free to reopen or open a new issue if you want to pick this up again.

[2019-01-03 13:52] #243 closed

[2019-01-04 15:44] Lorac commented on #346
Yes you can close, I'll submit a PR at some point, I think we just can't poke the api fast enough to hit the rate limiter

[2019-01-04 15:45] svanharmelen commented on #346
Check... Thanks for the update!

[2019-01-04 15:45] #346 closed

[2019-01-13 15:45] juranki opened #546 "Support for the upcoming releases and release links apis"
Looks like Gitlab 11.7 will promote [Releases](https://docs.gitlab.com/ee/user/project/releases/index.html) from a tag extension to a top level feature.

Two new apis are added for managing releases:
- [Releases](https://docs.gitlab.com/ee/api/releases/index.html), and
- [Release links](https://docs.gitlab.com/ee/api/releases/links.html)

It would be great if go-gitlab would cover the new API's

[2019-01-20 20:09] juranki commented on #546
I started working [towards a PR](https://github.com/xanzy/go-gitlab/compare/master...juranki:releases) and immediately bumped into a naming issue.

Tags api has also some support releases and defines a [Release](https://github.com/xanzy/go-gitlab/blob/master/tags.go#L45) type.

Releases api adds a lot more content to the same concept. I named it [ProjectRelease](https://github.com/juranki/go-gitla

[2019-01-21 08:30] svanharmelen commented on #546
Hi @juranki, I wonder if we could use the same struct in both places? Guess that depends at what fields the API is able to return when requesting a tag, so maybe we should check the Gitlab source code to see if that would work.

If not, I think I feel more for renaming the existing `Release` struct to `TagRelease`. Or maybe even better, just make it an inline struct if it only contains the `TagNam

[2019-01-24 03:26] leejie123 opened #548 "resp.Body decode with some error"
When I invoke the function "gitlabclient.Boards.ListIssueBoards(pid, nil)" returns results don't decode Labels

as follow:
source:
[code]
result
[code]

-----
 I just write a sample for the decoder:
[code]
-----
result is that the embered struct is not decoded.

[2019-01-24 11:20] #548 closed

[2019-01-25 09:09] leejie123 opened #550 "Add support for board_issue_update api"
Gitlab website it could drag and drop the issue in the board, api like this:
[code]
but can not find this api in gitlabclient.Boards

[2019-01-25 09:15] svanharmelen commented on #550
@leejie123 it looks like that API is already supported: https://github.com/xanzy/go-gitlab/blob/master/boards.go#L214 But maybe it misses some options/fields?

And could you please add a link to the API docs that describes the API you are referring to?

[2019-01-29 00:08] csoriano1618 opened #552 "opts.After and opts.Before not honored"
Trying to query the events of a user in the last week, I do
[code]
Which doesn't result in the after option honored, it's not even in the resulting url:
[code]
Looking at the go-gitlab code, seems the `query.Values(opt)` in https://github.com/xanzy/go-gitlab/blob/master/gitlab.go#L531 doesn't find the After value, as in the gitlab.ISOTime wouldn't be in the correct format (it should be tho).

[2019-01-29 09:08] #552 closed

[2019-01-29 09:22] csoriano1618 commented on #552
Lighting speed! Doesn't surprise me given what I saw in the other issues tho, thanks a lot :+1:

[2019-01-29 13:00] Snehal1112 commented on #370
Guys anyone working on this enhancement

[2019-01-29 13:17] svanharmelen commented on #370
Nope... At least now as far as I know.

[2019-01-29 22:26] csoriano1618 opened #555 "Options don't work correctly over GET for (at least) ListContributionEventsOptions"
Following https://github.com/xanzy/go-gitlab/issues/552 and with the same code example, the resulted url is:

[code]

Note that all options except "page" and "per_page" are capitalized and they are not omitted if empty. They should both be omitted if empty and being lower case. The difference between "page" and "per_page" and the others is that they provide "url:" field for their default values, w

[2019-01-29 22:59] svanharmelen commented on #555
Thanks for the report! This is already being addressed in #554 and will most likely be merged tomorrow.

[2019-01-30 05:50] Snehal1112 commented on #370
@svanharmelen I would like to work on this enhancement.

[2019-01-30 07:02] svanharmelen commented on #370
Thanks @Shehal1112! Feel free to pick it up and create a PR for it 👍🏻

Have a look at the rest of the existing code an please try to keep things consistent.

Thanks!

[2019-01-30 12:28] #555 closed, assigned to nobody

[2019-01-30 12:53] csoriano1618 commented on #555
thanks!

[2019-02-01 17:42] matejvelikonja commented on #370
@svanharmelen let us know when you start working on it. We would really need this feature.

[2019-02-01 18:54] matejvelikonja commented on #370
sorry @svanharmelen, I tagged the wrong person :) I wanted to ask @Snehal1112

[2019-02-01 19:09] Snehal1112 commented on #370
@matejvelikonja @svanharmelen I have already started work on in I just stuck with import project stuff.
I will try to commit the change ASAP.

[2019-02-11 13:59] matejvelikonja opened #561 "New version release"
Can you release a new version of the lib, which will support the Project Cluster?

[2019-02-11 14:01] svanharmelen commented on #561
Done 👍

[2019-02-11 14:01] #561 closed

[2019-02-12 17:50] pschwartz opened #562 "usage of parseID outside of go-gitlab"
Recently, I have found myself implementing a copy of parseID in my code to make actions against API's that take Options easier.

Would anyone be against changing parseID to be exported or a wrapper around parseID that exposes it?

[2019-02-12 18:50] svanharmelen commented on #562
I don't think we should export the `parseID` function. It's not part of what this package offers and it would prevent us from making any changes in the future (not knowing what other people may be using it for).

Last but not least, it's such a small simple function that I believe copying the few lines of code is well worth not having the additional dependency.

Thanks for the suggestion and glad

[2019-02-12 18:50] #562 closed

[2019-02-13 20:09] odin243 opened #563 "Support for group labels API"
I was examining the labels code, and it doesn't look like there's any support for the labels API within a group (rather than a project): https://docs.gitlab.com/ce/api/group_labels.html

Unless I missed it somewhere, is this something you'd be open to a PR for?

[2019-02-14 10:51] svanharmelen commented on #563
Sure, I'm always open to PRs 😉

[2019-02-15 12:38] matejvelikonja commented on #370
@Snehal1112 could you at least make a PR for the export stuff? I would really need this functionality :)

[2019-02-16 11:17] Eraac opened #564 ""two_factor_enabled" always false"
I want to track who wasn't enable 2FA on gitlab, but method `gitlab.Users.GetUser(xx)` return always false for key `two_factor_enabled`, seems to be logic according to the documentation, this field seems to be here only for admin

But, on gitlab.com i can see this information with my account, so is there any method from the api for retrieve this information despite i am a non-admin user

FYI i don

[2019-02-18 16:12] svanharmelen commented on #564
Maybe you can check what API calls are done when using gitlab.com? You should be able to see all API call using the developer tools from your browser. Maybe that points you into the correct direction.

[2019-02-18 17:15] Eraac commented on #564
On this part, gitlab render page from server-side, so no api call. They add `two_factor=disabled` when you enable the filter, but after a try on the api this parameter change nothing

[2019-02-19 07:39] Snehal1112 commented on #370
@matejvelikonja sorry for the late replay. last week is very hectic for me.
I have done with the following things
- Export status
- Export download
- Import status

Remaining thing
- Import a file
    - this feature was some problem and because of that i am able to reproduce this following issue
        https://gitlab.com/gitlab-org/gitlab-ce/issues/57579
        https://gitlab.com/gitlab-org/gitl

[2019-02-19 09:57] svanharmelen commented on #564
I guess this question should be asked to Gitlab. This package implements support for the Gitlab API, so if you know which API you need, we can check if it's supported.

But finding out which API you need and if your use case is something that is supported using the API, is a question I cannot answer and should be asked to Gitlab instead.

[2019-02-21 06:03] surajbarkale commented on #229
I wrote a python script to perform this using gitlab-python module and I was able to get this to work with multipart form encoding. See the [requests library](https://github.com/kennethreitz/requests/blob/bedd9284c9646e50c10b3defdf519d4ba479e2c7/requests/models.py#L110) for python code which creates the request body.

I used following code if you want to step through:

[code]

[2019-02-21 06:34] surajbarkale commented on #229
We could add a `client.NewFormRequest(path string, opt interface{}, fileFields []string) (*http.Request, error)` method. This method should convert `opt` to `map[string][]string` using [gorilla/schema](https://github.com/gorilla/schema) and replace all fields mentioned in `fileFields` with actual files.

[2019-02-26 21:39] ivanetchart opened #571 "Support for Container Registry API"
I was taking a look to the code but I think it's not supported yet.

https://docs.gitlab.com/ee/api/container_registry.html. If you're ok with it, can I submit a PR for this?

Thanks!

[2019-02-27 07:10] svanharmelen commented on #571
Thanks for reaching out @ivanetchart! And by all means, PRs are always welcome 👍

[2019-02-27 15:49] ivanetchart commented on #571
Cool

Just made it. Looking forward for feedback,

Thanks!

[2019-03-05 00:56] sarge opened #575 "Runner IP Address"
Hi an interesting discovery I have found is the gitlab can return multiple ip addresses for the IP Address. Unsure if this is a configuration error on our site or not or is a consequence of running at an AWS Spot Instance managed by docker machine.

https://github.com/xanzy/go-gitlab/blob/master/runners.go#L42

"runner": {
                "id": 1,
                "description": "AWS EC2 Spot",

[2019-03-05 08:08] svanharmelen commented on #575
Hmm... Good find! So if this can be a comma separated list, I think we may have to change the field to just being a `string`.

[2019-03-06 09:18] #575 closed

[2019-03-06 18:19] mkc-msit opened #577 "Webhook event Label struct and Labels API Label struct shouldn't be the same."
Webhook

Labels API structure:

[2019-03-07 10:18] svanharmelen commented on #571
Thanks for the PR @ivanetchart!

[2019-03-07 10:18] #571 closed

[2019-03-07 10:19] svanharmelen commented on #546
Thanks for the PR @juranki!

[2019-03-07 10:19] #546 closed

[2019-03-07 10:24] svanharmelen commented on #564
@Eraac is there any news around this issue? Is there something concrete that we can do to follow up on this, or is it a Gitlab related thing (in which case I think we should close this issue)?

[2019-03-07 10:25] Eraac commented on #564
@svanharmelen this issue can be close, i will see with gitlab directly, thx

[2019-03-07 10:25] #564 closed

[2019-03-08 14:39] kirecek commented on #563
Any update here? I can work on this if there is no assignee :)

[2019-03-08 16:28] svanharmelen commented on #563
There's no assignee, so by all means 👍

[2019-03-21 15:12] bonifaido opened #587 "Possibility to download ZIP archives"
If I'm right, it is currently not possible to download ZIP format archives as per this snippet https://github.com/xanzy/go-gitlab/blob/master/repositories.go#L152 because the format is not specified in the URL and according to the GitLab documentation if there is no format specified the default will be `tar.gz` https://docs.gitlab.com/ee/api/repositories.html#get-file-archive

Can we make this som

[2019-03-22 10:56] svanharmelen commented on #587
Thanks for opening this issue @bonifaido! Support to select custom formats is added in PR #589

[2019-03-22 10:56] #587 closed

[2019-03-22 12:11] bonifaido commented on #587
Thank you for the fix @svanharmelen!

[2019-03-25 10:10] svanharmelen commented on #563
This issue is fixed by PR #579

[2019-03-25 10:10] #563 closed

[2019-04-01 14:46] ravinwind opened #600 "Add support for resource label events"
Gitlab EE supports using Resource label events API to keep track about who, when, and which label was added or removed to an issuable.

It's a great API.

Proposal would be to add support to go-gitlab for this:
https://docs.gitlab.com/ee/api/resource_label_events.html

Guys can check this PR to see some more details.
https://github.com/python-gitlab/python-gitlab/pull/625

[2019-04-01 16:16] ipauldev opened #601 "Add Enterprise Merge Request Self Approvals"
Add Enterprise Merge Request Self Approvals API functionality added in:

https://gitlab.com/gitlab-org/gitlab-ee/merge_requests/10050

[2019-04-10 06:38] hoozecn opened #604 "404 Error when list projects whose owner(user/group) has a name contains dot"
Gitlab community edition allows to create users/groups with username has dot. But when make  requests to list projects under this owners, the api returns 404 when the dot is unescaped.

A related fix: #603

[2019-04-10 06:42] hoozecn commented on #604
![image](https://user-images.githubusercontent.com/949360/55857101-d0f22000-5b9e-11e9-95fb-29353bfdc189.png)

![image](https://user-images.githubusercontent.com/949360/55857076-c33c9a80-5b9e-11e9-85a2-fb23a534121b.png)

[2019-04-10 09:17] zoidbergwill opened #605 "Add Enterprise LDAP Sync"
As a start I was gonna add it to the group details and add the endpoint for adding the LDAP group link

https://docs.gitlab.com/ee/api/groups.html#add-ldap-group-link

[2019-04-10 10:25] svanharmelen commented on #605
Sounds good 👍

[2019-04-30 20:09] manland opened #616 "Access Group Issues and merge requests"
Missing methods :
* https://docs.gitlab.com/ce/api/issues.html#list-group-issues
* https://docs.gitlab.com/ce/api/merge_requests.html#list-group-merge-requests

I'm on it, and will add a PR soon.

[2019-04-30 20:29] manland commented on #616
Sorry I found them respectively in Issue and Merge-Request :sweat_smile:

[2019-04-30 20:29] #616 closed

[2019-05-10 10:06] akfaew opened #620 "v0.17.0 breaks compatibility"
My tests pass with v0.16.1 but break with v0.17.0

`json: cannot unmarshal object into Go struct field .updated_by_id of type []int`

This comes from `gitlab.ParseWebhook(gitlab.WebhookEventType(r), payload)`

The payload is:
[code]

[2019-05-11 21:51] manland commented on #620
related to my PR #615

[2019-05-11 23:14] svanharmelen commented on #604
This is fixed by PR #613

[2019-05-11 23:14] #604 closed

[2019-05-12 16:23] svanharmelen commented on #620
This is fixed by #615

[2019-05-12 16:23] #620 closed

[2019-05-13 07:41] chinglinwen opened #622 "unexpected event type: System Hook"
as the title

I have set up system hook, go-gitlab can't parse event, because of system hook.

[code]

[code]

[2019-05-22 11:42] akfaew opened #626 "json: cannot unmarshal bool into Go struct field .force_remove_source_branch of type string."
I've started to get these worrying errors this morning in my webhook handler (`gitlab.ParseWebhook(gitlab.WebhookEventType(r), payload)`):

[code]

Is anyone else experiencing this? I'm on go-gitlab v0.16.1.

It seems that what used to be `"merge_params":{"force_remove_source_branch":"0"}` became `"merge_params":{"force_remove_source_branch":true}`.

[2019-05-25 10:18] #370 closed

[2019-05-25 10:34] svanharmelen commented on #622
@chinglinwen, could you share some more details? I fail to understand the exact issue you're having. What does `c.Request()` return for example? And what `payload` do you give it there? Is that the second snippet that you pasted (starting with `out`)?

[2019-05-25 10:57] #626 closed

[2019-05-25 13:32] chinglinwen commented on #622
the issue is, I set up gitlab system wide hook, and the go-gitlab  library can't parse the event, because the header: X-Gitlab-Event: "System Hook".  @svanharmelen

for the handler
[code]

example payload here:

[code]

[2019-05-28 15:33] bleggett opened #630 "Does not handle retries or backoff for Gitlab.com API endpoints"
For those of us using Gitlab SaaS, we're quite frequently hitting the Gitlab rate limits.

Gitlab returns the following "standard" rate limit retry headers in 429 Too Many Request responses:

[code]

It would be ideal if `go-gitlab` properly interpreted these and implemented standard backoff/retry logic for Gitlab requests, as [node-gitlab does](https://github.com/jdalrymple/node-gitlab/issues/73)

[2019-05-28 16:19] svanharmelen commented on #630
@bleggett I'm not against adding this, but I think it would be good to first describe the approach you want to take before spending too much time on it.

I recently implemented something similar for another Go client, so I have some thoughts about how I would like to add support for this.

[2019-05-29 19:48] bleggett commented on #630
@svanharmelen Sure.

Since the response headers for 429 Too Many Requests aren't really standardized/the ones above are Gitlab specific, I just going to do something simple like add some logic (probably in `gitlab.go/Do()`) that checked `RateLimit-Remaining <= 5`, and if so sleep for `RateLimit-Reset - currentTime + minorRandomPositiveJitter`

If you've got something planned or can just port over

[2019-05-31 16:06] pschwartz opened #632 "Most gitlab APIs support urlencoded strings and this is broken when used in go-gitlab"
The liberal use of the `pathEscape` function leads to issues when using the gitlab api to query things that are path based.

`group/subgroup/project` is valid

`curl --header "PRIVATE-TOKEN: ${token}" https://gitlab.com/api/v4/projects/group%2Fsubgroup%2Fproject` can be used to query it.

But using `gitlab.Client.Projects.GetProjects("group/subgroup/project")` or  `gitlab.Client.Projects.GetProjec

[2019-05-31 16:08] pschwartz commented on #632
Here is an example right from the gitlab api docs.

https://docs.gitlab.com/ee/api/repository_files.html#get-file-from-repository

`file_path (required) - Url encoded full path to new file. Ex. lib%2Fclass%2Erb`

[2019-05-31 16:15] pschwartz commented on #632
A hack around the issue is to enforce encoding prior to calling the go-gitlab functions. Has anyone else seen this behavior?

[2019-05-31 16:56] svanharmelen commented on #632
@pschwartz if I look at the [repository_files](https://github.com/xanzy/go-gitlab/blob/master/repository_files.go) methods, I see that `pathEscape` (like in all other methods) is only used to escape the `project` or `group`. The given `fileName` is escaped using `url.PathEscape` which should properly escape the path following the requirements of the Gitlab API.

The fact that this works, means (at

[2019-06-07 10:04] vmarkovtsev opened #634 "Search users"
Hi, I have not found any code in SearchService to query users. This is supported in the API, however. Are there plans to add support for searching users?

[2019-06-07 11:39] vmarkovtsev commented on #630
Please note that some usage patterns require to limit the sleep time, e.g. the user specifies a hard maximum amount of time which the call can elapse. We had similar problems with GitHub API, and we wrapped around the rate limit error by operating on a Context which can be `cancel()`-ed. So probably this feature should be implemented outside the low level machinery in the form of an extra user wra

[2019-06-07 11:41] vmarkovtsev commented on #630
This is what I mean:

[code]

This works perfectly for GitHub. IDK much about GitLab, but I guess it works similar.

[2019-06-07 13:48] svanharmelen commented on #630
I have a solution for this that I can port from another project I've build recently. I just need to find a little bit of time to do so, but hopefully I can add this in the coming week of so.

[2019-06-13 19:07] spencergilbert opened #636 "Error when importing project"
`Post https://gitlab.com/api/v4/projects/import: http: ContentLength=141 with Body length 0`

I'm receiving the above error when trying to import a project to gitlab.com

[code]

This returns `<nil>`, `<nil>`, and the above error. Any pointers?

[2019-06-16 15:02] svanharmelen commented on #636
When having a closer look at the API it looks like uploading a file from your local filesystem is indeed not supported by the current implementation.

I think PR #621 was not been fully tested before it was created as the import file API requires the file to be uploaded using a multipart message which is currently not something that is supported by this package.

[2019-06-16 15:03] svanharmelen commented on #632
@pschwartz do you have any updates or additional details for this one?

[2019-06-16 15:04] svanharmelen commented on #634
I'm not working on anything related to that, but of course PRs are always welcome 😉

[2019-06-17 11:51] spencergilbert commented on #636
Awesome, wasn't sure if I had been misusing the API there or not. I ended up just using the standard library there for a workaround

[2019-06-19 20:18] sudoapt-getclean opened #639 "Add support for variable_type field on variabld (project and group)"
GitLab allows settings group and project variables with type 'file'. GitLab CI creates a temporary file with the contents of the variable while the actual env variable gets set to the path to that file. [Gitlab docs.](https://docs.gitlab.com/ee/ci/variables/#variable-types)

The gitlab API supports file variables for both [groups](https://docs.gitlab.com/ce/api/group_level_variables.html#update-va

[2019-06-24 00:06] mseelye commented on #600
We also needed this, so I just temporarily added it to my project with some ugly adhoc code.

QQ: If I were to fork this to help out with this, would this belong in the projects service code, or somewhere else like events? It seems like at least the projects resource label events would be in projects as projects is in the url.

[2019-06-24 06:14] svanharmelen commented on #600
In general I'm trying to keep the services defined in the package in line with the documentation: https://docs.gitlab.com/ee/api/README.html

So in this case I think it should probably be best to add another service called `ResourceLabels` or maybe `ResourceLabelEvents`.

[2019-06-24 18:33] mseelye commented on #600
@ravinwind @svanharmelen Here is what I have for this. I don't have epics on my account, and we don't use MR labels, so I've only actually tested the project-issue functions.

Please take a peek and comment, if everyone is happy I can put up a MR:

https://github.com/mseelye/go-gitlab/pull/1

[2019-06-25 05:38] lou-lan opened #643 "get file 404"
get file `a a+a.yaml` 404

we used `url.PathEscape("a a+a.yaml")`
[code]
gitlab need
[code]

[2019-06-26 09:39] svanharmelen commented on #643
@lou-lan I'm afraid I don't get it. A single space is supposed to be converted to a single `%20`. So can you share some more details about what (you think) is the problem?

[2019-06-26 14:03] lou-lan commented on #643
Yes, A single space is supposed to be converted to a single `%20`. In some cases gitlab needs `%20%20`, you can create case file `a a+a.yaml`, I don't know this particular pattern.

[2019-06-26 14:24] svanharmelen commented on #643
I can only assume this is a bug in the Gitlab API. If the filename contains only a single space, it correctly gets a singe `%20`. So if then the Gitlab API returns a 404, I suggest you open an issue with Gitlab.

Did you try to reproduce your findings with cURL? Maybe that helps to give more insights.

[2019-06-26 15:22] mseelye commented on #600
I think this is closed. @ravinwind let us know if it works for you too.

[2019-06-26 18:17] svanharmelen commented on #600
Yes, this should be fixed by #642 now 👍🏻

[2019-06-26 18:17] #600 closed

[2019-06-27 06:31] ravinwind commented on #600
@mseelye It does work. Thanks for the help. Highly appreciated~

[2019-06-28 05:39] #643 closed

[2019-07-13 05:27] sp71 opened #652 "Grouping Merge Requests through Labels"
Many of us use microservices in golang so we have multiple repos scattered throughout gitlab but a team probably owns multiple repos. It's super nice to know all the merge requests the team should review across all the open merge requests within specific repos. I created a simple server that would automatically update the merge requests's label whenever a MR would be created via gitlab webhook and

[2019-07-13 05:31] #652 closed

[2019-07-14 09:00] svanharmelen commented on #639
@sudoapt-getclean could you check if PR #653 works for you use case?

[2019-07-16 22:58] anurag opened #654 "Branches are not path-escaped as specified in GitLab's docs"
The library doesn't run `url.PathEscape` on branch names as specified in GitLab API docs here:

https://docs.gitlab.com/ce/api/README.html#branches-and-tags-name-encoding

Since it already does this for projects and tags, it would be great to have it also do this consistently for branch names or the `sha` (when getting the latest commit using the branch name).

[2019-07-23 07:53] TjuLml opened #656 "ExportDownload404"
gitClient.ProjectImportExport.ExportDownload(project.ID)
{message: 404 Not found or has expired}

[2019-07-26 21:11] klmitch opened #657 "IP address missing from runner details"
The `RunnerDetails` struct is missing a field for the IP address of the runner, which is provided as the `ip_address` key in the response from gitlab, as documented at https://docs.gitlab.com/ce/api/runners.html#get-runners-details

[2019-07-28 15:04] jippi opened #658 "Update structs to reflect new fields"
Hi,

First of all, thank you for a great project, it made my work for creating a GitLab <> Slackbot at work 100x easier.

I did, however, notice that a good chunk of the structs in `master` does not have all the fields that a recent GitLab API exposes.

Is there any plan to update these, or any automated way to do it to keep the maintenance burden down?

If it's "no" to both above, how would you r

[2019-07-29 06:48] svanharmelen commented on #657
By all means feel free to open a PR to add the missing fields. Ordering of struct fields is (trying) to use the same order as is used in the docs.

[2019-07-29 06:54] svanharmelen commented on #658
Thanks for your question @jippi. The short answer is no, there aren't any plans to update the structs in master.

The slightly longer answer is that Gitlab is changing and updating their API continuously and there isn't a nice way to automate the syncing of structs. So the "usual" way is for people to make small PR's whenever they encounter a field they want to use is missing.

As for any requirem

[2019-07-29 06:55] svanharmelen commented on #656
@TjuLml if you want me to have a look at this, you need to provide more info... Maybe a working example and some more context.

[2019-07-29 06:56] svanharmelen commented on #654
I'm open to that 👍 Yet I currently don't have much time to actually implement it... So if you feel your up to it, by all means open a PR for it 😉

[2019-07-29 06:57] svanharmelen commented on #639
@sudoapt-getclean can you config if this solves your use case?

[2019-07-29 07:12] sudoapt-getclean commented on #639
I'm out camping with the family for 2 more days than I'm gonna pick it up
asap

On Mon, 29 Jul 2019, 08:57 Sander van Harmelen, <notifications@github.com>
wrote:

[2019-07-29 07:16] svanharmelen commented on #639
All good, no rush! Enjoy your holidays!

[2019-07-29 18:30] anurag commented on #654
Cool. Will do eventually!

[2019-08-05 15:19] no0by5 commented on #427
The same problem applys to labels. You can't remove them by setting it to an emtpy slice, but if you use []string{""} it works.

[2019-08-14 03:41] zaquestion opened #661 "Having project create issues against GitLab.com lately?"
Curious if anyone here particularly @svanharmelen has seen any issues lately with the project create API?

Lab tests regularly against GitLab.com and have been noticing some issues since the latest `12.2.0-pre`  went live. Perhaps someone knows and I just need to update or stop sending a field? Honestly have had a chance to look to closely.

@svanharmelen feel free to close after you see this, was

[2019-08-15 08:08] svanharmelen commented on #661
@zaquestion I must admit that I'm not using this package much myself lately. Just try to be a good maintainer and facilitator 😉 So I'll keep the issue open for bit to see if anyone else has some feedback...

[2019-08-15 08:11] svanharmelen commented on #639
@sudoapt-getclean any feedback/update on this one?

[2019-08-15 08:12] svanharmelen commented on #658
As this issue has no further open question, I'll close it for now.

[2019-08-15 08:12] #658 closed

[2019-08-15 08:16] #657 closed

[2019-08-15 08:17] svanharmelen commented on #632
@pschwartz  any update on this?

[2019-08-15 08:36] svanharmelen commented on #656
@TjuLml please provide a bit more details. Without that I'm going to have to closer this issue. Thanks!

[2019-08-15 08:56] #654 closed

[2019-08-15 09:04] TjuLml commented on #656
The problem has been dealt with.you can close this issue.Thanks very much for your help.

------------------ 原始邮件 ------------------
发件人: "Sander van Harmelen"<notifications@github.com>;
发送时间: 2019年8月15日(星期四) 下午4:36
收件人: "xanzy/go-gitlab"<go-gitlab@noreply.github.com>;
抄送: "其實丶幸福很簡單"<295554150@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [xanzy/go-gitlab] ExportDownload404 (#656)

@TjuLm

[2019-08-15 10:21] svanharmelen commented on #656
👍

[2019-08-15 10:21] #656 closed

[2019-08-15 10:25] sudoapt-getclean commented on #639
Hell Yeah!
I just completed an implementation based on this and it is looking very good.
(it took longer than I wanted because I had to sit down and figure out how to use the code from the local repo instead of github.(GO not being my daily language)).

My only remark is that it might be time to remove `build_variables.go` and `build_variables_test.go` since they have now been completely supersede

[2019-08-15 12:40] #639 closed

[2019-08-19 17:35] alexkalderimis commented on #661
What issues are you seeing @zaquestion?

[2019-08-20 00:08] zaquestion commented on #661
@alexkalderimis my bad probably should have included that :blush:

https://github.com/zaquestion/lab/issues/329

[code]

Not expecting anyone to dig this deep, but just for completeness heres the test we have: https://github.com/zaquestion/lab/blob/master/cmd/project_create_test.go

[2019-08-20 00:10] zaquestion commented on #661
Perhaps is internal not a thing anymore on gitlab.com ? Again really just curious if anyones seen this, not expecting anyone to dig into stuff thats ultimately on `lab` team to figure out.

[2019-08-27 14:31] ptzool commented on #605
Hi,

Any info about this feature?

[2019-08-28 16:46] zoidbergwill commented on #605
@ptzool Created an MR for it.

[2019-08-28 16:48] zoidbergwill commented on #605
I used this in a self-service portal I was working on, to get around the non-granular GitLab admin and API permissions, so it does work.

[2019-08-30 08:45] zaquestion commented on #661
Turns out it was that, GitLab.com removed internal, still a thing for onprem it sounds https://github.com/zaquestion/lab/issues/329#issuecomment-525961135

[2019-08-30 08:45] #661 closed

[2019-09-20 19:56] magic7s opened #680 "Add support for group_clusters"
New API: https://docs.gitlab.com/ee/api/group_clusters.html

In support of https://github.com/terraform-providers/terraform-provider-gitlab/issues/138

[2019-09-22 02:26] nhywieza opened #684 "Add user_username filed for push-event"
Add user_username filed for push-event
https://github.com/xanzy/go-gitlab/pull/683

[2019-09-27 09:25] boomshadow opened #692 "Feature request: Add Deployment notification settings to Slack"
GitLab's API for Slack service integration settings now has the ability to set deployment notifications: `deployment_channel` & `deployment_events`

See: https://docs.gitlab.com/ce/api/services.html#createedit-slack-service

I'll submit a PR adding this feature.

[2019-09-27 15:45] boomshadow commented on #692
The PR was merged already.

[2019-09-27 15:45] #692 closed

[2019-09-30 17:28] calculiTestUser opened #696 "Latest changes to runners.go fails"
Packages json and strings need to be imported in runners.go.
Runners.go line 87

[2019-09-30 18:33] #696 closed

[2019-09-30 18:40] svanharmelen commented on #684
Fixed by PR #683

[2019-09-30 18:40] #684 closed

[2019-09-30 18:40] svanharmelen commented on #680
Fixed by PR #685

[2019-09-30 18:40] #680 closed

[2019-10-04 01:05] aoggz opened #700 "Add support for new project-level MR approval rules API"
These endpoints were released with GitLab v12.3:

- https://docs.gitlab.com/ee/api/merge_request_approvals.html#get-project-level-rules
- https://docs.gitlab.com/ee/api/merge_request_approvals.html#create-project-level-rule
- https://docs.gitlab.com/ee/api/merge_request_approvals.html#update-project-level-rule
- https://docs.gitlab.com/ee/api/merge_request_approvals.html#delete-project-level-rule

[2019-10-07 20:44] artooro opened #702 "move-an-issue not implemented"
It appears this function https://docs.gitlab.com/ee/api/issues.html#move-an-issue is not implemented in this package.

[2019-10-09 11:24] sudoapt-getclean opened #708 "Support group field: runners_token"
In order to fix https://github.com/terraform-providers/terraform-provider-gitlab/issues/181
that wants to expose the runners token one would need access to the runners_token field of group (and project but that is already provided)

p.s. group now has a lot more fields than the Group struct provides, might be fun to expose more of that.
p.s.2 If you would prefer me to prepare a merge request let m

[2019-10-09 16:15] ConorNevin opened #709 "Unable to remove all labels from a merge request"
The UpdateMergeRequestOptions struct has omitempty specified in the json and url tags for the Labels field. This causes the method to error when trying to remove all labels from a MergeRequest as the api expects an empty string to be set on the field in this case.

I'm happy to submit a PR to fix it. I think the quickest fix is to change the Labels type to a pointer so it forces it to be marshaled

[2019-10-11 06:37] jussil opened #711 "Support expiration of member rights on projects"
Just like group member calls already supports `expires_at`, we should add it to the project member calls also. I can do an PR for this.

[2019-10-11 09:07] svanharmelen commented on #711
Please do, sounds good 👍

[2019-10-11 09:48] #709 closed

[2019-10-11 09:55] svanharmelen commented on #711
Fixed by PR #712

[2019-10-11 09:55] #711 closed

[2019-10-11 11:17] svanharmelen commented on #708
A PR for this would be very much appreciated!

[2019-10-11 13:51] #634 closed

[2019-10-14 13:32] ahuret commented on #632
Hi @svanharmelen !  I got a case where url encoding seems to break gitlab api.

Here I want to list issues with a label filter:

[code]
result to =>
[code]
where
`%5Bmy+label%5D` decoded is `[my+label]` but gitlab docs says labels slice should be separated by commas (https://docs.gitlab.com/ce/api/issues.html#list-issues).
I can see go-gitlab `type Labels struct` implements Marshaller
[code]

but

[2019-10-14 13:51] ahuret commented on #632
seems it's proken by 446d35380041b926c2a08757cace1a1e291ff042

[2019-10-14 14:01] svanharmelen commented on #632
Should be fixed by 0784142ea5790a0ebc89fde2c632e280690ae4b2 Sorry for the inconvenience!

[2019-10-14 14:03] ahuret commented on #632
I don't think it will fix issue, problem here is about pointer. If I replace `*Labels` by `Labels` it works

[2019-10-14 14:09] svanharmelen commented on #632
Did you try it?

[2019-10-14 14:09] ahuret commented on #632
Yep, with and withou `comma` and it works when `Labels`  is not a pointer

[2019-10-14 14:13] ahuret commented on #632
better to use comma, it's more gitlab way. `labels=a,b,c` vs `labels=a&labels=b`

[2019-10-14 14:17] svanharmelen commented on #632
Hmm... I don't follow what you are saying.

[code]

This should work and give you `a,b,c` right? In your example you used:

[code]

Which is 1 label right?

[2019-10-14 14:29] ahuret commented on #632
check https://play.golang.org/p/l6tCHGMtBtZ

and btw: https://github.com/google/go-querystring/issues/26 says non-nil pointer to slice are not handle properly by the go-querystring library, not exactly in our case but seems there are unexpected behaviors.

[2019-10-14 14:45] ahuret commented on #632
we should go back to `Labels Labels `url:"labels,comma,omitempty" json:"labels,omitempty"`` for at least `GET`  funcs:

`ListIssuesOptions`
`ListGroupIssuesOptions`
`ListProjectIssuesOptions`

`PUT` and `POST` are ok

[2019-10-14 19:48] svanharmelen commented on #632
All these ^^ comments are deleted here as it turned out that they had nothing to do with this issue. It was in fact related to PR #713 and is not partially rolled back in #715

[2019-10-23 07:05] #700 closed

[2019-10-25 12:21] ConorNevin opened #723 "Removed anonymous subtypes to allow for easier testing"
I'm trying to write tests for an event hook processor and I'm struggling to write the testcases due to the fact that the event types use anonymous types.

As a more concrete example, trying to filter out different types of changes on a merge event requires that you re-implement the anonymous struct in each case. See below for an example of a single testcase.

[code]

If the subtypes can be split o

[2019-11-01 19:37] jrdelarosa8 commented on #708
I'd like to attempt to help with this. Please assign this to me.

[2019-11-01 19:49] svanharmelen commented on #708
There you go 👍

[2019-11-04 14:26] sluongng opened #730 "Support Issue Statistics API"
https://docs.gitlab.com/ee/api/issues_statistics.html

It would be nice to have this as part of the lib

[2019-11-05 10:10] #708 closed

[2019-11-11 08:37] coreyvan commented on #550
Looking through the documentation, I don't see where this API is made available in V4. Since lists are just based on Labels, you might be able to replicate the behaviour by editing them on an issue. Depends on what your use case is I suppose.

[2019-11-11 09:35] coreyvan opened #733 "Branch type doesn't include "can_push""
The Gitlab API specifies a field called "can_push" to denote if pushes are allowed to the branch. This is missing from the definition of the Branch type in branches.go

I've got a PR for this change and some tests. Can you advise on how I can push and create the PR? Apologies, I'm new to contributing.

[2019-11-15 22:26] rpetti opened #734 "Awarding an emoji to a note does not appear to work"
I'm currently attempting to use the `CreateMergeRequestAwardOnNote` function, and for some reason it appears that the request generated by the API is just posting `null` to the GitLab endpoint. This results in the award failing since GitLab is not being provided with the emoji name.

It looks like it might be caused by the following line passing in `nil` instead of the opts that I'm providing the

[2019-11-16 10:50] svanharmelen commented on #734
@rpetti good catch! That's indeed a bug...

[2019-11-16 10:53] svanharmelen commented on #734
Fixed in release `v0.22.1`

[2019-11-16 10:53] #734 closed

[2019-11-20 20:11] slamdev opened #736 "Implement "Require code owner approvals for a single branch""
Seems like it is a new endpoint:
https://docs.gitlab.com/ce/api/protected_branches.html#require-code-owner-approvals-for-a-single-branch

Would be nice to have it implemented in the library

[2019-12-02 08:37] baurmatt opened #742 "Implement remove_source_branch_after_merge"
Please implement the new ([12.5](https://about.gitlab.com/blog/2019/11/22/gitlab-12-5-released/#delete-source-branch-once-merged)) feature `remove_source_branch_after_merge`.

[2019-12-11 14:27] ecornelisse opened #744 "Add support for `has_conflicts` in MergeRequest struct"
The response of gitlab for merge requests now contains a boolean `has_conflicts`

https://docs.gitlab.com/ee/api/merge_requests.html

it would be nice to be able to read that from the MergeRequest struct

[2019-12-12 10:16] benoitmenard-richemont opened #745 "Get LDAP Group with LDAP Sync enable failed"
Hi,

I have an issue with Terraform Provider Gitlab and Gitlab EE with LDAP Sync (on subgroup), but it seem to come from this code.

The output of the provider is:
`Error: json: cannot unmarshal number into Go struct field Group.ldap_access of type bool`

In the file groups.go I change this:
`	LDAPAccess                     bool               `json:"ldap_access"``
to:
`	LDAPAccess

[2019-12-16 18:11] oesah opened #746 "Check for Environment Scope in ReadVariable"
I am coming here from https://github.com/terraform-providers/terraform-provider-gitlab.

**Problem**
We are using go-gitlab to create resources using terraform. We face an issue, however, where project or group variables do not consider the scope. So if you have 2 variables with the same name but different scopes, it will cause terraform to always try to update them. See discussion here: https://g

[2019-12-25 19:23] sluongng opened #751 "AssigneeID should not be *int"
AssigneeID in https://github.com/xanzy/go-gitlab/blob/master/merge_requests.go#L146 which is used in ListMergeRequests() could be
- int(user id)
- OR "None" which will return a list of unassigned merge request
- OR "Any" which will return a list of assigned merge request.

Reference: https://docs.gitlab.com/ce/api/merge_requests.html#list-merge-requests

Suggestion: We can consider changing this f

[2019-12-26 08:47] svanharmelen commented on #751
Nice catch, but changing `*int` to `interface{}` will not be enough to support the full API. It will also need a custom (un)marshal method to be able to support all options properly.

[2019-12-26 08:48] #742 closed

[2019-12-26 20:41] sluongng opened #753 "Missing Merge Request approval state api"
Reference https://docs.gitlab.com/ee/api/merge_request_approvals.html#get-the-approval-state-of-merge-requests

This api is quite handy when you need to get details of approval status on a merge request.

[2020-01-13 06:08] Clearlove-X opened #757 "How to upload files, especially compress packages，such as jar files、rar files"
I am calling the SDK to create the file to upload the file. However, uploading the rar file in this way will invalidate the file and only create some text files

[2020-01-15 09:04] SimonXming opened #758 "Bug: "labels" filter not working for `ListProjectMergeRequests` with v0.21.0+"
I always get zero merge requests when I use something like with v0.22.2
[code]
But if I downgrade to v0.20.1 with
[code]
It's working fine.

[2020-01-15 10:39] svanharmelen commented on #758
Why would you specify an empty labels object? Did you maybe try this:

[code]

[2020-01-16 02:56] SimonXming commented on #758
Sorry I didn't make it clear, I also tried labels object with actual value(`label-1` for example). But still I got zero merge requests returns.

[code]

[2020-01-27 15:04] gillesdouaire commented on #745
I am running in the same thing.

[2020-01-27 15:36] gillesdouaire commented on #745
(and the above workaround unblocked my stuff)

[2020-01-27 16:15] #745 closed

[2020-02-03 18:24] justinkillen opened #762 "Unable to set extended group attributes on creation"
Gitlab API supports the following fields in group creation that aren't enabled in groups/CreateGroupOptions:

require_two_factor_authentication
two_factor_grace_period
project_creation_level
subgroup_creation_level

(https://docs.gitlab.com/ce/api/groups.html#new-group)

[2020-02-05 00:25] flacito opened #764 "Add support for GitLab Applications API"
https://docs.gitlab.com/ee/api/applications.html

Hopefully I'm not missing it in the go-gitlab docs.  It doesn't look like you can create OAuth Applications with go-gitlab yet.

Please add this feature.

GREAT library!  So extensive.  Thanks!

[2020-02-05 12:03] #622 closed

[2020-02-05 12:10] svanharmelen commented on #632
I'm going to close this one because of the leak of response. Feel free to reopen it when you want to follow up on the issue.

[2020-02-05 12:10] #632 closed

[2020-02-05 12:12] svanharmelen commented on #723
I'll take PR's, but this is not something I'm planning to fix myself.

[2020-02-05 12:12] #723 closed

[2020-02-05 12:14] svanharmelen commented on #757
Is this still an issue for you? And if so, can you share more details?

[2020-02-05 12:17] svanharmelen commented on #733
Sorry for the super late reply!

Feel free to just open a PR. As soon as you have some that I can look at, I can help you towards getting the PR in a good state.

[2020-02-05 16:21] #762 closed

[2020-02-06 13:50] granular-ryanbonham commented on #753
Open MR https://github.com/xanzy/go-gitlab/pull/766

[2020-02-06 16:08] svanharmelen commented on #753
Support for this was added by PR #766

[2020-02-06 16:08] #753 closed

[2020-02-06 16:55] paulvollmer opened #767 "Missing CreateGroupIssueBoard function"
Hello,

it looks like the `func` to create group issue boards is missing for https://godoc.org/github.com/xanzy/go-gitlab#GroupIssueBoardsService
here are the gitlab api docs: https://docs.gitlab.com/ce/api/group_boards.html#create-a-group-issue-board-premium

or maybe i don't find the right go func to create a group board.
if the func is missing, i can implement it if you like.

thanks in advance

[2020-02-06 17:15] paulvollmer commented on #767
I send a PR for that right now...

[2020-02-06 19:22] svanharmelen commented on #767
Thanks! Fixed by PR #768

[2020-02-06 19:22] #767 closed

[2020-02-06 21:40] paulvollmer commented on #767
@svanharmelen thank you for the fast merge

[2020-02-12 14:59] RuriRyan opened #772 "Can't start pipelines with variables"
When I try to create a pipeline with variables I get a "500 Internal Server Error" as a response.
Digging through some gitlab issues I found a link pointing to this documentation: https://docs.gitlab.com/ee/api/#array-of-hashes

As per gitlab [pipeline documentation](https://docs.gitlab.com/ee/api/pipelines.html#create-a-new-pipeline) varaibles is an array of hashes.

The generated POST request I

[2020-02-12 15:43] RuriRyan commented on #772
I figured out what's wrong. Apparently the default of VariableType was changed sometime and since then the code didn't work anymore.
Adding VariableType: "env_var", to the PipelineVariable fixed it.

[2020-02-12 15:43] #772 closed

[2020-02-12 19:50] avorima opened #774 "Empty merge request on pipeline event"
I'm trying to write a bot that reacts to [pipeline events](https://docs.gitlab.com/ce/user/project/integrations/webhooks.html#pipeline-events), but the `MergeRequest` struct is always empty when I receive the event in my handler.

I'm using `github.com/xanzy/go-gitlab v0.25.0`.

[2020-02-13 01:21] justinkillen commented on #762
https://github.com/xanzy/go-gitlab/pull/775

[2020-02-13 16:58] avorima commented on #774
Nevermind, I checked the logs and it seems the server didn't send any merge request data. Sorry

[2020-02-13 16:58] #774 closed

[2020-02-16 21:55] ericjaystevens opened #776 "Add support for listing group hooks"
https://docs.gitlab.com/ee/api/groups.html#list-group-hooks

Be able to get a list of webhooks associated with a group by providing authentication and group ID.

[2020-02-23 20:18] mizunos opened #781 "g tools 1.13.8 does not work"
Getting the library today.  I am using go 1.13.8.

go get this package but it will not compile.  error mismatched with go tool 1.13.8

[2020-02-23 20:42] svanharmelen commented on #781
Can you share the exact error?

[2020-02-24 16:10] mizunos commented on #781
Close my previous issue.  I think my GOTOOLDIR pointed to a different version of Go tools.  Cleanup all the go installation and the error went away.

[2020-02-24 16:36] #781 closed

[2020-02-25 12:38] ringods opened #782 "Gitlab introduced soft delete of projects and groups"
Filing this ticket not as a bug report, more as an awareness.

The test suites for the Gitlab Terraform & Pulumi providers became instable since Gitlab 12.6. After some investigation, it seems that soft-delete of Projects was introduced in that version by **changing the behaviour of `DELETE /projects/{id}`**.

More context here:
https://github.com/terraform-providers/terraform-provider-gitlab/issu

[2020-02-26 09:20] svanharmelen commented on #782
If I read it correctly, there now is a `pending_delete` field in the returned `project` struct? If so, we probably need to add it so it can (maybe) be used to update the logic in the TF provider to be able to cope with this...

[2020-03-01 12:39] ringods commented on #782
I asked for some help from Gitlab:

https://gitlab.com/gitlab-org/gitlab/issues/33257#note_296585615

[2020-03-01 13:28] svanharmelen commented on #782
Maybe good to have the discussion there, but not what kind of help you mean? Adding the `pending_delete` fields should be a tiny PR right? Not sure what else you are looking for?

[2020-03-01 16:27] ringods commented on #782
@svanharmelen if it is clear to you what the response structure and fields are for a delete request of a project or group, then no additional help is needed. If not, then it is mainly my request to the Gitlab people to help us out to clarify how we can detect the `pending delete` status programmatically.

Nevertheless, are you able to implement the `pending delete` status to be interpreted as "the

[2020-03-02 17:35] mdeltour commented on #744
Hello,

If it'll help :)
https://github.com/xanzy/go-gitlab/pull/788

[2020-03-03 12:34] svanharmelen commented on #744
Fixed by PR #788

[2020-03-03 12:34] #744 closed

[2020-03-03 13:07] #758 closed

[2020-03-04 10:18] binlab commented on #229
It would be nice to have this feature. And even not just for `Projects` but for `Users` and `Groups` too.

@Bouwdie @svanharmelen does it any moves in this direction?

[2020-03-08 16:02] totobest commented on #630
I'm receiving 429s while using terraform gitlab provider, which uses go-gitlab.
Can we use https://github.com/hashicorp/go-retryablehttp to handle 429 and maybe other temporary errors at the same time?

[2020-03-10 01:56] ericjaystevens commented on #776
Resolved in pull request #793

[2020-03-10 01:56] #776 closed

[2020-03-10 02:03] ericjaystevens opened #797 "Add support for creating group hooks"
https://docs.gitlab.com/ee/api/groups.html#add-group-hook

Be able to create a webhook associated with a group by providing authentication, group ID, triggers, and token

[2020-03-12 10:08] Az8th opened #798 "Add support for file blame listing"
Hello,

I may have missed it, but it seems that getting a file blame from repository is not supported despite [it is implemented in the Gitlab REST API](https://docs.gitlab.com/ee/api/repository_files.html#get-file-blame-from-repository)

Could you please add a support for it?

Thanks for this great library.

[2020-03-13 16:05] svanharmelen commented on #630
@bleggett and @vmarkovtsev I just created PR #800 in order to solve this. Would be great if you can confirm that the PR doesn't break anything and fixed the issue... Thanks!

[2020-03-13 16:13] svanharmelen commented on #782
@ringods can you confirm that the fields in PR #791 are filled correctly? If so, I can merge the request and it can be used in the TF provider...

[2020-03-15 20:25] giorgioazzinnaro opened #801 "Add support for deploy token"
I use this client via the Terraform provider for GitLab, and have a use case where I'd like to be able to manage a deployment of certain images I have in my GitLab private image repository into Kubernetes.

In order to do this, I need a [deploy token](https://docs.gitlab.com/ee/user/project/deploy_tokens/) with `read_registry` permissions.

Looking at [GitLab API Reference](https://docs.gitlab.com

[2020-03-16 07:46] giorgioazzinnaro commented on #801
A correction from my previous statement: it seems I just didn't look around well enough.

Here's the docs:
https://docs.gitlab.com/ce/api/deploy_tokens.html

I'll be opening a PR soon!

Cheers
Giorgio

[2020-03-16 09:10] svanharmelen commented on #801
Cool, sounds good 👍

[2020-03-16 17:10] #801 closed

[2020-03-17 18:00] giorgioazzinnaro commented on #801
I looked further into this... and I realised why I wasn't initially able to find the docs. Basically this is going to be released in version 12.9 in a couple of days. However, GitLab.com is already running this version, but the API is not entirely stable yet. So to anyone who'd like to use this, only GitLab.com works and there is still an issue with usernames.

See this for more details: https://g

[2020-03-23 13:11] #630 closed

[2020-03-24 09:28] markuslackner opened #805 "Add support for project approval rules"
Add Support for https://docs.gitlab.com/ee/api/merge_request_approvals.html#get-project-level-rules
(gitlab Starter)

* New Service `ProjectApprovalRulesService`
* New Funcs:
  * ListApprovalRules
  * CreateApprovalRule
  * UpdateApprovalRule
  * DeleteApprovalRule

I would start implementing it.  @svanharmelen What do you say? Is the naming ok?

[2020-03-24 11:38] markuslackner commented on #805
Is already implemented in `gitlabClient.Projects`

[2020-03-24 11:38] #805 closed

[2020-03-24 14:05] skast96 opened #806 "References missing in issue struct"
The REST API V4 has a object "references" when loading issues. This object is missing.
[code]

[2020-03-24 16:09] #806 closed

[2020-03-25 17:45] magic7s opened #809 "Support management_project_id in Project and Group Cluster"
According to documentation a new parameter `management_project_id` is supported in the Project and Group Cluster API. Proposal to add parameter to object.

Group Cluster:
https://docs.gitlab.com/ee/api/group_clusters.html

Project Cluster:
https://docs.gitlab.com/ee/api/project_clusters.html

[2020-03-29 15:48] prytoegrian commented on #764
I'll take my chances.

[2020-03-29 18:50] #809 closed

[2020-03-30 12:57] apricote opened #814 "Support reading remove_source_branch_after_merge in project api"
The attribute `remove_source_branch_after_merge` is only supported for the `CreateProjectOptions` and `EditProjectOptions`.

For terraform-providers/terraform-provider-gitlab#200 it would be nice if the field was also added to the `Project` struct, so it can be read from the Gitlab API.

[2020-03-30 20:23] klmitch opened #815 "Add support for new list pagination"
gitlab is experimenting with a new means of performing pagination that promises to be more efficient for them; they're calling it ["Keyset-based pagination"](https://gitlab.com/help/api/README.md#keyset-based-pagination), and it uses the existing "per_page" query parameter and a new "pagination" parameter (set to the string "keyset").  It's intended to be used in conjunction with the `Link` header

[2020-03-30 20:42] klmitch opened #816 "Support `active` in `SetJiraServiceOptions`"
The `SetJiraServiceOptions` type has been updated to support `commit_events`, `merge_request_events`, and `comment_on_event_enabled` fields documented for the Jira service, but the `active` field is not available.

[2020-03-31 06:47] #816 closed

[2020-03-31 06:58] svanharmelen commented on #815
I'm not sure if I want to add support for this now already. And if we do, I'm not yet sure how we should support both the old and new solutions concurrently. Guess I need to have a closer look to find out and form an opinion...

Of course if you have specific ideas and/or am willing to create a PR, I'm always open to look at that or discuss it.

[2020-03-31 18:25] #814 closed

[2020-03-31 18:56] #797 closed

[2020-03-31 20:20] klmitch commented on #815
Yeah, my purpose in opening this issue was to make sure to document it so everyone interested can begin to think about what it should look like.

[2020-03-31 20:39] #605 closed

[2020-03-31 20:48] svanharmelen commented on #757
I'm going to close this due to leak of response. Feel free to reopen the issue if you want to follow up on it.

[2020-03-31 20:48] #757 closed

[2020-03-31 21:23] #764 closed

[2020-03-31 23:34] apricote commented on #814
Thank you @svanharmelen !

[2020-04-01 19:30] ringods commented on #782
@svanharmelen I finally came around integrating the soft-delete changes in Terraform. What I notice from debug logs is that the server *never* sets the `pending_delete` field in the response JSON of groups and repositories.

Here is a link to a testsuite run with DEBUG logs enabled:

https://github.com/terraform-providers/terraform-provider-gitlab/runs/552631042?check_suite_focus=true

*Note:* dow

[2020-04-01 19:36] svanharmelen commented on #782
Same here... Let's see what they come back with.

[2020-04-01 20:50] klmitch opened #822 "Make retry configurable"
Currently, retries are hard-coded to always occur with hard-coded times and number of retries.  It would be really nice to be able to customize this; a back-of-the-envelope calculation based on the current hard-coded values suggests that a failing gitlab request won't time out for around 15 minutes, which may not be appropriate for all users.

[2020-04-02 07:23] ringods commented on #782
@svanharmelen my findings so far can be read here: https://github.com/terraform-providers/terraform-provider-gitlab/pull/291#issuecomment-607665336

In short for you, here is a change request: you can remove the `PendingDelete` attributes as the server never seems to return such field in the response of a `GET` request for a `project` or a `group`.

On `project`, you correctly added the `MarkedFor